.elex-footer.results-list.app{
  padding-top: 0em;
  padding-bottom: 2em;

  h4{
    margin: 3em 0 0 0;
  }
  ul{
    webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
    font-family: $din;
    float:left;
    width: 20%;

    li{
      list-style: none;
      padding: 4px 0;

      a{
        color: #000;
      }
    }
  }


}
