.elex-footer{

  h4{
    margin: 3em 0 0 0;
  }
  ul{
    webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
    font-family: $din;
    float:left;
    width: 18%;

    li{
      list-style: none;
    }
  }


}
