header.center{
  padding: 0 15px;

h1{
  margin-bottom: 5px;
  line-height: 1;
}

p.time{
  font-family: $franklin;
  margin: 5px auto;

  .live{
    font-weight: bold;
    color: $politico-red;
    font-size: 1.1rem;
  }

  .timestamp{
    color: $politico-red;
  }
}
}
