.results-group table{
  width: 100%;
  padding-right: 20px;
  border-collapse: collapse;

      tr{
        vertical-align: top;

        &.winner{
            background-color: #f0f0f0;

            @include swatch-classes-light
        }

          td.precincts-reporting{
            border-bottom: 0;
            font-size: 13px;
            color: #7b7b7b;
          }
      }
  }

  .header{
    th{
      border-bottom: dashed 1px #ddd;
      padding-right: 15px;
      padding-bottom: 5px;
      font-family: $din;
      font-weight: normal;
      font-size: .7rem;
      text-align: left;

      &.vote-count{
        text-align: right;
      }
    }
  }

  td{
    padding: 10px 15px 10px 6px;
    font-size: 1.1rem;
    border-bottom: dashed 1px #ddd;

    @media(max-width: $width-medium){
      font-size: .88rem;
    }

  }


 //key
    .key{
      font-family: $din;
      font-size: .8rem;
      padding-right: 3px;
      margin: 10px auto;
      width: auto;

      span{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        margin: 3px 3px 0 5px;

        &:first-of-type{
          margin-left: 0;
        }

        @include swatch-classes
      }
 }
