section.results-group{

  margin-top: 2.5rem;
  padding-top:2.5rem;
  border-top: dashed 2px #ddd;

  h4{
      margin-top: 0px;
      margin-bottom: 10px;
      font-weight: normal;

      &.district{
      text-align: center;
      font-size: 1.3rem;
      text-align: center;
      margin: 2rem auto .5rem;
      padding-top: 10px;
      font-weight: bold;
      }

      & + h5{
        margin: 0 auto 1.5rem;
      }
    }


  table{
    margin-bottom: 2.5rem;
  }
}

section.results-list{
  margin-top: 2.5rem;
  padding-top:2.5rem;
  border-top: dashed 2px #ddd;


  section.results-group{
    margin-top: 0rem;
    padding-top:0rem;
    border-top: 0;
  }
}
