<a name="breakpoints"></a>
<section>
<h3 class="pt3">Breakpoints</h3>
<p class="sans">More than 63% of our audience comes to us via a mobile device. We prioritize those readers by using <code>min-width</code>.</p>

<h3 class="pt3">Wait, how do min-width breakpoints work again?</h3>
<p class="sans">The base level css you're writing defaults to the smallest boostrap dedault breakpoint <code>min-width:576px</code>.

<h3 class="pt3">Let's look an an example</h3>
<p class="sans">This means any screen bigger than 992px, the <code>h2</code> will be aligned center.</p>

<section class="content-fit mt0 pt0">

{% raw %}
<pre><code class="language-markup"><script type="prism-html-markup">
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
      h2{
        text-align: center;
      }
 }
</script></code></pre>
{% endraw %}
</section>


<h3 class="pt3">CSS <code>variables</code></h3>
<table class="table table-bordered content-fit">
    <thead>
        <tr>
            <th>Name</th>
            <th>Range</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td><code>min-width-xs</code></td>
          <td>min-width 350px</td>
      </tr>
      <tr>
          <td><code>min-width-sm</code></td>
          <td>min-width 576px</td>
      </tr>
      <tr>
          <td><code>min-width-md</code></td>
          <td>min-width 768px</td>
      </tr>
      <tr>
          <td><code>min-width-lg</code></td>
          <td>min-width 992px</td>
      </tr>
      <tr>
          <td><code>min-width-xl</code></td>
          <td>min-width 1200px</td>
      </tr>
    </tbody>
</table>


<h3 class="pt3">Copy and paste these as needed</h3>
<section class="content-fit pt0 mt0">
{% raw %}
<pre><code class="language-markup"><script type="prism-html-markup">
// ----  Min Width Declarations ---- //
// Extra small devices (portrait phones, less than 350px) - note the default media query is at 576px, this is here to control for mini-phones.
//@media (min-width: 350px) { ... }

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

</script></code></pre>
{% endraw %}
</section>
