<a name="cards"></a>
<section>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <figure>
          <img src="http://images.politico.com/global/2013/02/14/130214_obama_palm_beach_ap_328.jpg" alt="tropical beach">
          <figcaption>This is the caption</figcaption>
        </figure>
        <h3>Card Title</h3>
        <h4>Subtitle if needed</h4>
        <p>A variation of the <span class="highlight">ordinary lorem</span> ipsum text has been used in typesetting since the 1960s or earlier,  by advertisements for Letraset transfer sheets or earlier,  by <span class="highlight">advertisements</span> for Letraset transfer sheets.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3 class="border-bottom">Card Title</h3>
        <h4>Subtitle if needed</h4>
        <p>You can see the border-bottom style on the h2 here. Does what you would expect</p>

        <h4>Subtitle if needed</h4>
        <p>A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier by advertisements for Letraset transfer sheets.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card serif">
        <h3>Card Title</h3>
        <p>Look up! A serif style is appended to the card</p>

        <p>Does what you'd expect here too.</p>
      </div>
    </div>
  </row>
</section>

{% raw %}
<pre><code class="language-markup"><script type="prism-html-markup">
<section>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <figure>
          <img src="http://images.politico.com/global/2013/02/14/130214_obama_palm_beach_ap_328.jpg" alt="tropical beach">
          <figcaption>This is the caption</figcaption>
        </figure>
        <h3>Card Title</h3>
        <h4>Subtitle if needed</h4>
        <p>A variation of the <span class="highlight">ordinary lorem</span> ipsum text has been used in typesetting since the 1960s or earlier,  by advertisements for Letraset transfer sheets or earlier,  by <span class="highlight">advertisements</span> for Letraset transfer sheets.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3 class="border-bottom">Card Title</h3>
        <h4>Subtitle if needed</h4>
        <p>You can see the border-bottom style on the h2 here. Does what you would expect</p>

        <h4>Subtitle if needed</h4>
        <p>A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier by advertisements for Letraset transfer sheets.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card serif">
        <h3>Card Title</h3>
        <p>Look up! A serif style is appended to the card</p>

        <p>Does what you’d expect here too.</p>
      </div>
    </div>
  </row>
</section>

</script></code></pre>
{% endraw %}
