<a name="cards"></a>
<section>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <h2>Card Title</h2>
        <h6>Subtitle if needed</h6>
        <p>A variation of the <span class="highlight">ordinary lorem</span> ipsum text has been used in typesetting since the 1960s or earlier,  by advertisements for Letraset transfer sheets or earlier,  by <span class="highlight">advertisements</span> for Letraset transfer sheets.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h2 class="border-bottom">Card Title</h2>
        <h6>Subtitle if needed</h6>
        <p>You can see the border-bottom style on the h2 here. Does what you would expect</p>

        <h6>Subtitle if needed</h6>
        <p>A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier by advertisements for Letraset transfer sheets.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card serif">
        <h2>Card Title</h2>
        <p>Look up! A serif style is appended to the card</p>

        <p>Does what you'd expect here too.</p>
      </div>
    </div>
  </row>
</section>

{% raw %}
<pre><code class="language-markup"><script type="prism-html-markup">
  <div class="card">
    <h2>Card Title</h2>
    <h6>Subtitle if needed</h6>
    <p>A variation of the <span class="highlight">ordinary lorem</span> ipsum text has been used in typesetting since the 1960s or earlier,  by advertisements for Letraset transfer sheets or earlier,  by <span class="highlight">advertisements</span> for Letraset transfer sheets.</p>
  </div>

</script></code></pre>
{% endraw %}
