<a name="fonts"></a>
<section>
<h3 class="mb1">Fonts</h3>
<p>Our stadard typekit has one font, Din 2014. This typekit is included by default in your generator.</p>
<section class=" mt1 content-fit">{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><link rel="stylesheet" href="https://use.typekit.net/dsx2uhv.css">
</script></code></pre>
{% endraw %}
</section>

<p class="jubilat light">To include Jubilat on your page, add this typekit</p>
<section class=" mt1 content-fit">{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><link rel="stylesheet" href="https://use.typekit.net/bvr3gvp.css">
</script></code></pre>
{% endraw %}
</section>


<table class="table table-bordered content-fit">
<h3 class="mb1 mt4">Fonts</h3>
<thead>
    <tr>
        <th>Name</th>
        <th>Code</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>Din 2014</td>
    <td><code>sans</code>, <code>headline</code>, <code>graphic-text</code></td>
  <tr>
  <tr>
    <td>Georgia</td>
    <td><code>serif</code>, <code>georgia</code></td>
  <tr>
    <tr>
      <td>Jubliat</td>
      <td><code>mag</code>, <code>jubilat</code>, <code>
      headline.mag</code></td>
    <tr>

</tbody>
</table>

<h3 class="mb1 mt4">Weights</h3>
<table class="table table-bordered content-fit">
<thead>
    <tr>
        <th>Name</th>
        <th>Code</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td><span class="lighter">lighter, 200</span></td>
    <td><code>lighter</code></td>
  <tr>
  <tr>
    <td><span class="light">Light, 300</span></td>
    <td><code>light</code></td>
  <tr>
  <tr>
    <td><span class="normal">Normal, 500</span></td>
    <td><code>normal</code></td>
  <tr>
  <tr>
    <td><span class="bold">Bold, 700</span></td>
    <td><code>bold</code></td>
  <tr>
  <tr>
    <td><span class="bolder">Bolder, 900</span></td>
    <td><code>bolder</code></td>
  <tr>
</tbody>
</table>


<h3 class="mb1 mt4">Style</h3>
<table class="table table-bordered content-fit">
<thead>
    <tr>
        <th>Name</th>
        <th>Code</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>Italic</td>
    <td><code>italic</code></td>
  <tr>
  <tr>
    <td>underline</td>
    <td><code>underline</code></td>
  <tr>
  <tr>
    <td>uppercase</td>
    <td><code>uppercase</code></td>
  <tr>
</tbody>
</table>



</section>
