<a name="icons"></a>
<section>
  <h3>Politico icons</h3>
  <p class="sans">Use these icons to match the core website when appropriate.</p>
  <table class="table table-bordered content-fit">
    <thead>
        <tr>
            <th>Code</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td><code>b class="bt-icon bt-icon--circle-solid"</code></td>
          <td><b class="bt-icon bt-icon--circle-solid">Broken</b></td>
      </tr>
    </tbody>
</table>
</section>
