<a name="lists"></a>
<section class="content-fit">

<ul class="no-bullets no-indent">
  <li>First item in this list</li>
  <li>Second item in this list</li>
  <li>Third item in this list</li>
</ul>

<ul>
  <li>First item in this list</li>
  <li>Second item in this list</li>
  <li>Third item in this list</li>
</ul>

<ol>
  <li>First item in this list</li>
  <li>Second item in this list</li>
  <li>Third item in this list</li>
</ol>

</section>

{% raw %}
<pre><code class="language-django"><script type="prism-django">

list here
</script></code></pre>
{% endraw %}
