<a name="tables"></a>
<section class="content-fit">
  <h3 class="mb1">Tables</h3>
  <p>Our tables are built off of the bootstrap styles seen <a target="blank" href="https://getbootstrap.com/docs/4.0/content/tables/">here</a>.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Carrie</td>
      <td>Buddoff Brown</td>
      <td><a href="https://twitter.com/cbudoffbrown">@cbudoffbrown</a></td>
    </tr>
    <tr>

    </tr>  <th scope="row">2</th>
      <td>Paul</td>
      <td>Volpe</td>
      <td><a href="https://twitter.com/pvolpe">@pvolpe</a></td>
  </tbody>
</table>

{% raw %}
<pre><code class="language-django"><script type="prism-django">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Carrie</td>
      <td>Buddoff Brown</td>
      <td><a href="https://twitter.com/cbudoffbrown">@cbudoffbrown</a></td>
    </tr>
    <tr>

    </tr>  <th scope="row">2</th>
      <td>Paul</td>
      <td>Volpe</td>
      <td><a href="https://twitter.com/pvolpe">@pvolpe</a></td>
  </tbody>
</table>
</script></code></pre>
{% endraw %}


<section class="content-fit">

<h3 class="mb1">Some other options</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bordered</td>
      <td><code>table-bordered</code></td>
    </tr>
    <tr>
      <td>Striped</td>
      <td><code>table-striped</code></td>
    </tr>
    <tr>
      <td>Hover</td>
      <td><code>table-hover</code></td>
    </tr>
    <tr>
      <td>Condensed padding</td>
      <td><code>table-sm</code></td>
    </tr>
  </tbody>
</table>
</section>
</section>
