<a name="text-alignment"></a>
<section>
<h3 class="mb1">Text Alignment</h3>
<table class="table table-bordered content-fit">
<thead>
    <tr>
        <th>Type</th>
        <th>Code</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>Text align left</td>
    <td><code>text-left</code></td>
  <tr>
  <tr>
    <td>Text align right</td>
    <td><code>text-right</code></td>
  <tr>
  <tr>
    <td>Text align center</td>
    <td><code>text-center</code></td>
  <tr>
  <tr>
    <td>Text align X above small viewports</td>
    <td><code>text-sm-X</code></td>
  <tr>
  <tr>
    <td>Text align X above medium viewports</td>
    <td><code>text-md-X</code></td>
  <tr>
  <tr>
    <td>Text align X above large viewports</td>
    <td><code>text-lg-X</code></td>
  <tr>
    <tr>
      <td>Text align X above extra large viewports</td>
      <td><code>text-xl-X</code></td>
    <tr>
</tbody>
</table>


<section class="content-fit">
{% raw %}
<pre><code class="language-markup"><script type="prism-html-markup">
<p class="text-left">Left aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-right">Right aligned text on all viewport sizes.</p>

<p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
<p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>

</script></code></pre>
{% endraw %}
</section>
</section>
