
.card{
  padding: 25px 30px 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f7f7f7;
  @include border-radius(4px);

  @media (max-width: $width-medium) {
      padding: 20px 25px;
  }

  figure{
    padding: 0;
    margin: -25px -30px 0px -30px ;

    figcaption{
      text-align:right;
    }

    img{
    border-radius: 5px 5px 0 0;
    }
  }

  &.serif{
    h3{
      font-family: $georgia;
      font-weight: normal;
    }
    p{
        font-family: $georgia;
    }
  }

  &.color-coded{
    h2{
      color: $gop;
    }
    border-bottom: 6px solid $gop;

    &.dem{
      h2{
        color: $dem;
      }
      border-bottom: 6px solid $dem;
    }
  }

  h3{
    &.border-bottom{
      border-bottom: solid 3px #dddddd;
      padding-bottom: 6px;
      margin-bottom: 12px;
    }
    & + p{
      padding-top: 5px;
    }
  }

  h4{
    text-align:left;
    font-weight: 300;
    margin: 1rem 0 0 0;
  }

  h3 + p:first-of-type{
    margin-top: 0;
  }
  p{
    font-size: 1.05rem;
    line-height: 1.5em;
    font-family: $din;

    &:first-of-type{
      margin-top: .1rem;
    }
    &:last-of-type{
      margin-bottom: 1rem;
    }
  }
}
