.clear {
  clear: both;
}

html {
  margin: 0;
  font-family: $din;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #696d70;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article{
  margin-bottom: 2em;
}

body {
  color: $black;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

a{
  color: #0a7cc4;
  &:hover, &:focus {
    color: #0e9af3;
  }
}

a,
a::before,
a::after,
button {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}


// Aligning text
.text-align-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

//Font weights

%weights{
  //lightest available for Din 2014 and Jubilat only
  &.lightest{
    font-weight: 200;
  }

  &.light{
      font-weight: 300;
  }

  &.normal{
    font-weight: 500;
  }

  &.bold{
    font-weight: 700;
  }
}

.headline{
  font-family: $din;
  font-weight: 700;

  @extend %weights;
}

.sans {
    font-family: $franklin;
    font-weight: 500;

    @extend %weights;
}


.graphic-text {
  font-family: $franklin;
  font-weight: 500;

  @extend %weights;
}


// Mag fonts
.jubilat,
.headline.mag{
    font-family: $jubilat;

    @extend %weights;

}


.highlight {
background-color: $highlighter-yellow;
box-shadow: 0.2rem 0 0 #fff7a5, -0.2rem 0 0 $highlighter-yellow;
margin: auto 2px;
}

// Paragraphs
p {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 1.35rem;
  line-height: 1.618;
  margin: 1rem auto;
  max-width: 550px;
  overflow-wrap: break-word;

  &.small{
    font-size: .9rem;
}



// The dropcap as needed, not included by default
  span.dropcap {
    float: left;
    font-size: 5rem;
    line-height: 0.65;
    font-family: $din;
    font-weight: bold;
    margin: 0.225rem .5rem -.5rem 0;;
    text-transform: uppercase;

    @media (max-width: $width-small){
      font-size: 4rem;
    }
   }
}

// Header groups
h2,
h3,
h4,
h5,
h6 {
  font-family: $din;
  margin: 0 auto 3px;
  max-width: 100%;
  text-align: center;
  font-weight: 300;

  + p {
    margin-top: 0px;
  }
}

h2 {
  font-size: 1.68rem;
  line-height: 1.2;
  font-weight: 700;

  &.serif{

      font-size: 1.52rem;
      @media (max-width: $width-medium) {
          font-size: 1.48rem;
      }
  }
  @media (max-width: $width-medium) {
      font-size: 1.48rem;
  }
}

h3 {
  font-size: 1.35rem;
  line-height: 1.2;
  &.serif{

      font-size: 1.45rem;
  }
}

h4 {
  font-size: 1.05rem;
  line-height: 1.3;
}

h5 {
  font-size: 0.7rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 500;
}

h6 {
  font-size: 0.85rem;
  line-height: 1.3;
}

h2 + h3{
  margin-top: 10px;
}


p + h2{padding-top:.5rem;}


p + h3{padding-top:.5rem;}

p + h4{padding-top:.5rem;}


// lists
ul.no-bullets{
  li{
    list-style: none;
  }
  &.no-indent{
        -webkit-margin-before: 0;
        -webkit-padding-start: 0px;
  }
  &.border{
    li{
    border-top: 1px solid #ddd;
    padding: 10px 0;
    }
  }
}

//icon text

.icon-text {
    position: absolute;
    left: -999em;
    top: -999em;
}
