.clear {
  clear: both;
}

html {
  margin: 0;
  font-family: $georgia;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #696d70;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article{
  margin-bottom: 2em;
}

body {
  color: $black;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

a{
  color: #0a7cc4;
  &:hover, &:focus {
    color: #0e9af3;
  }
}

a,
a::before,
a::after,
button {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}


.highlight {
background-color: $highlighter-yellow;
box-shadow: 0.2rem 0 0 #fff7a5, -0.2rem 0 0 $highlighter-yellow;
margin: auto 2px;
}

// Paragraphs
p {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 1.35rem;
  line-height: 1.618;
  margin: 1rem auto;
  max-width: 550px;
  overflow-wrap: break-word;

  &.small{
    font-size: .9rem;

    &.sans{
      font-size: 1rem;
    }
}


// The dropcap as needed, not included by default
  span.dropcap {
    float: left;
    font-size: 5rem;
    line-height: 0.65;
    font-family: $din;
    font-weight: bold;
    margin: 0.225rem .5rem -.5rem 0;;
    text-transform: uppercase;

    @media (max-width: $width-small){
      font-size: 4rem;
    }
   }
}

// lists
ul.no-bullets{
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;

  li{
    list-style: none;
  }
  &.no-indent{
        -webkit-margin-before: 0;
        -webkit-padding-start: 0px;
  }
  &.border{
    li{
    border-top: 1px solid #ddd;
    padding: 10px 0;
    }
  }
}
