// Footer
footer{
  background-color: #121522;
  margin-top: 2rem;
  padding: 3rem 5rem 1.5rem;
  position: relative;
  font-family: $din;
  font-size: .75rem;
  text-align: left;
  padding: 1rem;

  @media(min-width: 800px){
      padding: 3rem 5rem 1.5rem;
  }

  .footer__group--links{
    float: left;
    width: 70%;
  }

  .footer__group--legal{
    float:right;
    width: 30%;
    text-align:right;
  }

  p{
    font-family: $din;
    font-size: .75rem;
    text-align: right;
    color: rgba(255,255,255,0.8);
  }
  ul{
    overflow: hidden;
    list-style: none;
    list-style-image: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 00px;

    & + ul{
      padding: 20px 0;
    }
  }

  a{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  li{
    display: inline-block;
    padding: 0 0.5rem;
    text-align: left;
  }

  li + li{
    border-left: 1px solid #6E7381;
    margin: 0 -1px;
    margin-top: 0.2rem;
  }

  @media(max-width: 800px){
    padding: 1rem;

    ul{

    }

    li{
      width: 100%;
      text-align: center;
      margin: 15px auto 6px;
      font-size: 14px;
      font-weight: 200;
    }

    li + li{
      border-left: none;
      margin: 6px auto;
    }



    .footer__group--links,
    .footer__group--legal{
      float: none;
      width: 100%;

      hr.footer-top-line{
        border-top: 1px solid #6e7381;
        width: 90px;
        margin: 0 auto;
        padding-top: 50px;
        margin-top: 25px;
      }

      p{
        text-align: center;
        font-weight: 200;
        display: inline;
        margin: 0 auto;
        float: none;
        display: block;
        padding-bottom: 2rem;
      }

    }
  }
}
