// Footer
footer{
  background-color: #121522;
  margin-top: 2rem;
  padding: 3rem 5rem 1.5rem;
  position: relative;
  font-family: $din;
  font-size: .75rem;
  text-align: left;

  @media(max-width: 800px){
    padding: 1rem;
  }

  .footer__group--links{
    float: left;
    width: 70%;
  }

  .footer__group--legal{
    float:right;
    width: 30%;
    text-align:right;
  }

  p{
    font-family: $din;
    font-size: .75rem;
    text-align: right;
    color: rgba(255,255,255,0.8);
  }
  ul{
    list-style: none;
    list-style-image: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 00px;

    & + ul{
      padding: 20px 0;
    }
  }

  a{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  li{
    display: inline-block;
    padding: 0 0.5rem;
    text-align: left;
  }

  li + li{
    border-left: 1px solid #6E7381;
    margin: 0 -1px;
    margin-top: 0.2rem;
  }

  @media(max-width: 800px){
    padding: 1rem;

    .footer__group--links,
    .footer__group--legal{
      float: none;
      width: 100%;

      p{text-align:left}
    }
  }
}
