nav.global{
  position: relative;

#global-header {
  @include clearfix;
  background: $transparent;
  height: 6.25rem;
  border-bottom: 1px solid rgba(180,180,180,0.35);

  #global-header, ul {
    @include clearfix;
  }



  .bt-icon--politico {
    font-size: 2.5rem;
    color: $politico-red
  }

  a {
    color: $black;

      &:hover, &:focus{
        text-decoration: none;
        opacity: .8;
      }
    }

  #global-branding {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #nav-micro {
    float: right;


    ul {
      list-style: none;
      margin-bottom: 1px;
      padding-bottom: 0;
      display: flex;
      -webkit-box-pack: justify;

      li{
        float:left;
      }

      li > a {
        background: transparent;
        display: block;
        color: rgba(0,0,0,0.85);
        padding: 0.15rem 0.75rem;
        font-family: $din;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}
}
