nav.global{
  position: relative;

  #global-header {
    @include clearfix;
    background: $transparent;
    border-bottom: 1px solid rgba(180,180,180,0.35);

    #global-header,
    ul {
      @include clearfix;
    }

    #header-contents {
      padding: 0 1rem;
    }

    .bt-icon--politico {
      color: $politico-red;
      font-size: 1.5rem;

      @media (min-width: $min-width-xs) {
        font-size: 1.6rem;
        margin-top: 0;
      }

      @media (min-width: 650px) {
        font-size: 1.8rem;
        margin: 5px 0 15px;
        padding: 0;
      }

      @media (min-width: $min-width-sm) {
        font-size: 2.8rem;
        margin: 5px 0 15px;
        padding: 0;
      }

      @media (min-width: $min-width-lg) {
        font-size: 3.5rem;
        margin: 5px 0 15px;
        padding: 0;
      }
    }

    a {
      color: $black;

        &:hover, &:focus{
          text-decoration: none;
          opacity: .8;
        }
      }

    #global-branding {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      a{
        -webkit-transition: none;
        transition: none;
        &:hover{
          opacity: 1;
        }
      }
    }

    .header-content {
      -webkit-box-align: center;
      -ms-flex-pack: justify;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4.25rem;

      @media (min-width: $min-width-xs) {
        height: 4.25rem;
      }

      @media (min-width: $min-width-sm) {
        height: 6.25rem;
      }

      @media (min-width: $min-width-lg) {
        height: 7.25rem;
      }
      }

      ul {
        -webkit-box-align: center;
        -ms-flex-align: center;
        display: -ms-flexbox;
        display: flex;
        font-family: $din;
        margin-top: 10px;
        font-weight: 700;
        font-size: .75rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        align-items: center;
        list-style: none;
        list-style-image: none;

        li{
          top: auto;
          left: auto;
          position: relative;

          > a {
          background: transparent;
          display: block;
          color: rgba(0,0,0,0.85);
          padding: 0.15rem 0.75rem;
        }
        }
      }
    }
}
