div.share{
text-align: center;
margin: 20px auto;
  a {
    color: white;
    background-color: $light-gray;
    margin: 0 2px;
    font-size: 12px;
    padding: 6px;
    display: inline-block;
    border-radius: 4px;
    transition: all .2s;
    text-decoration: none;
    &.custom-icon--facebook{
      background-color: $facebook;
      font-size: 13px;
      padding-left: 5px;
      img{
        height: 12px;
        width: 13px;
        margin-top: -2px;
      }
    }
    &.bt-icon--twitter{
      background-color: $twitter;
    }
    &.bt-icon--mail{
      background-color: $dark-gray;
    }
    cursor:pointer;
    &:hover{
      text-decoration: none;
    }
  }
}
