<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8">
        <title>Politico Style - Base theme</title>
        <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/battletoads/icons/politico-battletoads-icons.min.css">
        <link rel="stylesheet" href="../css/base/main.css">
        <!-- jQuery -->
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
          crossorigin="anonymous">
        </script>
        <!--Typekit-->
        <link rel="stylesheet" href="https://use.typekit.net/ogn0czn.css">
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!-- end -->
    </head>
    <body>

        {% include "base/partials/nav.html" %}
        {% include "base/partials/header.html" %}

         <article class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>

            <p>Lorem ipsum dolor <span class="highlight">sit amet,</span> consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. </p>

            <section>
              <h2>This is an overall section of content, h2</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>

              <section>
              <h5>H5 no span class</h5>
              <h3>This is a subsection of this content, h3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
              </section>

              <section>
              <h5>H5 no span class</h5>
              <h3>This is a subsection of this content, h3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus.</p>
              </section>

              <section>
              <h4>This is an H4</h4>
              <p class="sans small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
              </section>
            </section>

            <section class="small sans content-fit">
            <h3 class="text-align-left">Links to css hacks</h3>
            <ul class="no-bullets no-indent">
              <li>
                <a target="blank" href="https://politico.gitbooks.io/politico-newsroom-developer-guide/content/tipsheets/handy-css-tricks/text-styles.html">Controlling content widths + Text styles, small type too</a>
              </li>

              <li>
                <a target="blank" href="https://politico.gitbooks.io/politico-newsroom-developer-guide/content/tipsheets/handy-css-tricks/text-alignment.html">How to align text</a>
              </li>

              <li>
                <a target="blank" href="https://politico.gitbooks.io/politico-newsroom-developer-guide/content/tipsheets/design-guides/css-includes/cards.html">Different card styles</a>
              </li>

              <li>
                <a target="blank" href="https://politico.gitbooks.io/politico-newsroom-developer-guide/content/tipsheets/handy-css-tricks/sections.html">When to use a section</a>
              </li>
              <li>
                <a target="blank" href="https://politico.gitbooks.io/politico-newsroom-developer-guide/content/tipsheets/handy-css-tricks/lists.html">List styles</a>
              </li>

            </ul>
            </section>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>


            <section>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <figure>
                      <img src="http://images.politico.com/global/2013/02/14/130214_obama_palm_beach_ap_328.jpg" alt="tropical beach">
                      <figcaption>This is the caption</figcaption>
                    </figure>
                    <h3>Card Title</h3>
                    <h4>Subtitle if needed</h4>
                    <p>A variation of the <span class="highlight">ordinary lorem</span> ipsum text has been used in typesetting since the 1960s or earlier,  by advertisements for Letraset transfer sheets or earlier,  by <span class="highlight">advertisements</span> for Letraset transfer sheets.</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <h3 class="border-bottom">Card Title</h3>
                    <h4>Subtitle if needed</h4>
                    <p>You can see the border-bottom style on the h2 here. Does what you would expect</p>

                    <h4>Subtitle if needed</h4>
                    <p>A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier by advertisements for Letraset transfer sheets.</p>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card serif">
                    <h3>Card Title</h3>
                    <p>Look up! A serif style is appended to the card</p>

                    <p>Does what you'd expect here too.</p>
                  </div>
                </div>
              </row>
            </section>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.  </p>

            <p>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. </p>

            <section>
            <h2>H2 No gutters phone example</h2>
            <figure class="no-gutters-phone">
              <img src="https://static.politico.com/dims4/default/00bb1f8/2147483647/resize/1160x%3E/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fe6%2F99%2Fcd6aa5bc43dcb92588f25d90f16d%2Fgoldsmith-photogallery-13.jpg" />
                <figcaption class="figcaption">Caption text here. <figcredit> | John Shinkle/POLITICO </figcredit>
                </figcaption>
            </figure>

            <p>At 26, he married Martha Dandridge Custis, a widow who already had two children, Jacky and Patsy. Washington never had any children of his own.</p>
            </section>

            <h2>The following is a group of subheds</h2>
            <h3 class="content-fit">This is an h3 .content-fit</h3>
            <p class="sans">This is a paragraph with .sans appended. The death of his father prevented Washington from an education at England's Appleby School such as his older brothers had received.</p>

            <h3 class="content-fit">This is an h3 .content-fit</h3>
            <p class="sans">This is a paragraph with .sans appended. The death of his father prevented Washington from an education at England's Appleby School such as his older brothers had received.</p>

            <h3 class="content-fit">This is an h3 .content-fit</h3>
            <p class="sans">This is a paragraph with .sans appended. The death of his father prevented Washington from an education at England's Appleby School such as his older brothers had received.</p>


            <section class="credits">
                <p>Produced by <a target="blank" href="###">FirstName Last</a>.</p>
            </section>

         </article>

          {% include "base/partials/footer.html" %}

    </body>
</html>
