button{
  cursor:pointer;
  background-color: white;
  border: 1px solid $politico-light-gray;
  border-radius: 5px;
  color: $politico-medium-gray;
  transition: all .2s;

  &.btn.btn-outline-light{
     border: white 1px solid;
  }

  &.btn.btn-light{
     border: white 1px solid;
  }

  body > article > section:nth-child(4) > button.btn.btn-outline-light

  &:hover{
    box-shadow: $boxshadow-medium;

  }

  &.btn-super{
    padding: 15px 30px;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    text-decoration: none !important;
  }
}
