.form-group{

  label{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .form-control{
    font-family: $georgia;
    font-size: 1.1rem;

  }
}

input{
  border: solid 1px #ced4da;
  padding: 1px 8px;
}
