@mixin swatch-classes{

  &.dem1{
    background-color: $dem1;
  }

  &.dem2{
    background-color: $dem2;
  }

  &.dem3{
    background-color: $dem3;
  }

  &.dem4{
    background-color: $dem4;
  }

  &.dem5{
    background-color: $dem5;
  }

  &.dem6{
    background-color: $dem6;
  }

  &.dem7{
    background-color: $dem7;
  }

  &.dem8{
    background-color: $dem8;
  }

  &.dem9{
    background-color: $dem9;
  }

  &.dem10{
    background-color: $dem10;
  }

  &.gop1{
    background-color: $gop1;
  }

  &.gop2{
    background-color: $gop2;
  }

  &.gop3{
    background-color: $gop3;
  }

  &.gop4{
    background-color: $gop4;
  }

  &.gop5{
    background-color: $gop5;
  }

  &.gop6{
    background-color: $gop6;
  }

  &.gop7{
    background-color: $gop7;
  }

  &.gop8{
    background-color: $gop8;
  }

  &.gop9{
    background-color: $gop9;
  }

  &.gop10{
    background-color: $gop10;
  }
}


@mixin swatch-classes-light{

  &.dem1{
    background-color: $dem1-light;
  }

  &.dem2{
    background-color: $dem2-light;
  }

  &.dem3{
    background-color: $dem3-light;
  }

  &.dem4{
    background-color: $dem4-light;
  }

  &.dem5{
    background-color: $dem5-light;
  }

  &.dem6-light{
    background-color: $dem6-light;
  }

  &.dem7{
    background-color: $dem7-light;
  }

  &.dem8{
    background-color: $dem8-light;
  }

  &.dem9{
    background-color: $dem9-light;
  }

  &.dem10{
    background-color: $dem10-light;
  }

  &.gop1{
    background-color: $gop1-light;
  }

  &.gop2{
    background-color: $gop2-light;
  }

  &.gop3{
    background-color: $gop3-light;
  }

  &.gop4{
    background-color: $gop4-light;
  }

  &.gop5{
    background-color: $gop5-light;
  }

  &.gop6-light{
    background-color: $gop6-light;
  }

  &.gop7{
    background-color: $gop7-light;
  }

  &.gop8{
    background-color: $gop8-light;
  }

  &.gop9{
    background-color: $gop9-light;
  }

  &.gop10{
    background-color: $gop10-light;
  }

}
