//election-colors

$primary-green: #44A783;
$primary-periwinkle: #999CE0;
$primary-salmon: #FD5639;
$primary-sand: #DCC696;
$primary-magenta: #CD1CF8;
$primary-gold: #FFAF00;
$primary-purple: #795D93;
$primary-concord: #5900CB;
$primary-blood: #AF2727;
$primary-tie: #3F4048;

$primary1: $primary-green;
$primary2: $primary-periwinkle;
$primary3: $primary-salmon;
$primary4: $primary-sand;
$primary5: $primary-magenta;
$primary6: $primary-gold;
$primary7: $primary-purple;
$primary8: $primary-concord;
$primary9: $primary-blood;
$primarytie: $primary-tie;
