@mixin swatch-classes{

  &.primary1{
    background-color: $primary1;
  }

  &.primary2{
    background-color: $primary2;
  }

  &.primary3{
    background-color: $primary3;
  }

  &.primary4{
    background-color: $primary4;
  }

  &.primary5{
    background-color: $primary5;
  }

  &.primary6{
    background-color: $primary6;
  }

  &.primary7{
    background-color: $primary7;
  }

  &.primary8{
    background-color: $primary8;
  }

  &.primary9{
    background-color: $primary9;
  }
}


@mixin swatch-classes-light{

  &.primary1{
    background-color: $primary1-light;
  }

  &.primary2{
    background-color: $primary2-light;
  }

  &.primary3{
    background-color: $primary3-light;
  }

  &.primary4{
    background-color: $primary4-light;
  }

  &.primary5{
    background-color: $primary5-light;
  }

  &.primary6-light{
    background-color: $primary6-light;
  }

  &.primary7{
    background-color: $primary7-light;
  }

  &.primary8{
    background-color: $primary8-light;
  }

  &.primary9{
    background-color: $primary9-light;
  }

}
