
body{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 0;
  // padding: 0 15px;
  // margin: 0 8px 8px 8px;
}

#app, .app{
  padding: 0 15px;
}

a{
  cursor: pointer;
}


.election-results, .app{
  max-width:980px;
  margin-left: auto;
  margin-right: auto;
}

tbody{
  font-family: $franklin;
}

h1, h2, h3, h4, h5, h6{
  font-family: $din;
  text-align: center;
}

h1{
  text-align:center;
  font-size: 2.5rem;
}

h3{
  font-size: 1.6rem;
}

h4{
  font-size: 1.1rem;
  text-align:left;
}

.space-case{
  letter-spacing: 3px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

h5 + h1{
  margin-top: 0;
}


.forty-five{
  float: left;
  width: 45%;
}

.fifty{
  float: left;
  width:47.5%;
  padding-right: 5%;
}

.fifty + .fifty{
  padding-right: 0;
}

.fifty-five{
  float: left;
  width: 55%;
}


.clear{
  clear: both;
}

.credits{
  text-align: left;
  a{
    color: #000;
    text-align: left;

  }
}
