//Clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

#global-header {
  @include clearfix;

  #global-header, ul {
    @include clearfix;
  }

  .icon-politico {
    font-size: 16px;
    line-height: 46px;
    margin-left: .7em;
    color: $politico-red;

    @media(max-width: $min-width-sm){
      font-size: 12px;
    }
  }

  a {
    text-decoration:none;
      &:hover, &:focus{
        text-decoration:none;
        opacity: .8;
      }
    }

  #global-branding {
    float: left;

    .navbar-brand{
      float:left;
      display: inline-block;
    }

    span.elex-tag{
      font-family: $din;
      font-size: 1.2rem;
      padding: 11px 0 0 2px;
      float:left;
      display: inline-block;
      font-weight: 200;

      @media(max-width: $min-width-sm){
        font-size: 1.05rem;
        padding-top: 12px;
      }
    }
  }

  #nav-micro {
    float: right;

    .icon.icon-pro-small-bold {
      font-size: 1em;
      line-height: 2.29166666666667em;
      padding: 0 .3125em;
    }

    ul {
      list-style: none;
      margin: 0;
      padding-bottom: 0;
      color: #000;
      -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0px;

      li{
        float:left;
        text-transform: uppercase;
        font-size: .8rem;
      }

      li > a {
        display: block;
        font-family: $din;
        font-weight: 700;
        line-height: 45px;
        min-width: 2.5em;
        padding: 0 .9375em;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #000;
      }
    }
  }
}
