<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POLITICO Sketch Theme</title>
    <link rel="stylesheet" href="../css/sketch/main.css">
  </head>
  <body>

    {% include "sketch/partials/nav-global.html" %}

    <article class="container">
      <header>
        <h5 class="text-center">Welcome to</h5>
        <h1>Fake News APP</h1>
      </header>
    <article>
      <h4>Pages</h4>
      <ul>
        <li>
          <a href="./states/">State pages</a>
        </li>
      </ul>
    </article>
  </body>
</html>
