<a name="base-colors"></a>


<section>
  <h3>Base colors</h3>
  <p>These are based on the brand colors, cannibalizing them in some cases. In others, drawing from them.
</p>
</section>

<section>
<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$annotation</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/fff1df/000000?text=+"></span>&nbsp;<code>#fff1df</code></td>
      <td>rgb(255,241,223)</td>
    </tr>
    <tr>
      <td>$annotation-hover</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/fff9f1/000000?text=+"></span>&nbsp;<code>#fff9f1</code></td>
      <td>rgb(255,249,241)</td>
    </tr>
    <tr>
      <td>$highlighter-yellow</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/fffab7/000000?text=+"></span>&nbsp;<code>#fffab7</code></td>
      <td>rgb(255,250,183)</td>
    </tr>
    <tr>
      <td>$white</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffffff/000000?text=+"></span>&nbsp;<code>#ffffff</code></td>
      <td>rgb(225,225,225)</td>
    </tr>
    <tr>
      <td>$transparent</td>
      <td><span class="RepoImage"></span>&nbsp;<code>transparent</code></td>
      <td>-</td>
    </tr>
    <tr>
      <td>$black</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/000000/000000?text=+"></span>&nbsp;<code>#000000</code></td>
      <td>rgb(0,0,0)</td>
    </tr>
    <tr>
      <td>$satan</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/666666/000000?text=+"></span>&nbsp;<code>#666666</code></td>
      <td>rgb(102,102,102)</td>
    </tr>
    <tr>
      <td>$gray = $politico-light-type-gray</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/B1B4BD/000000?text=+"></span>&nbsp;<code>#B1B4BD</code></td>
      <td>rgb(117,180,189)</td>
    </tr>
    <tr>
      <td>$light-gray = $politico-line = $button</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/E5E7EB/000000?text=+"></span>&nbsp;<code>#E5E7EB</code></td>
      <td>rgb(229,231,235)</td>
    </tr>
    <tr>
      <td>$midnight</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/312b41/000000?text=+"></span>&nbsp;<code>#312b41</code></td>
      <td>rgb(49,43,65)</td>
    </tr>
    <tr>
      <td>$positive</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/75ccca/000000?text=+"></span>&nbsp;<code>#75ccca</code></td>
      <td>rgb(117,204,202)</td>
    </tr>
    <tr>
      <td>$negative</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ef8b67/000000?text=+"></span>&nbsp;<code>#ef8b67</code></td>
      <td>rgb(239,139,103)</td>
    </tr>
  </tbody>
</table>


</section>
