<a name="brand-colors"></a>

<section>
  <h3>Colors!</h3>
  <p> All colors have been tested for accessibility. Let these be your jumping off point for maps, graphics and otherwise.</p>
</section>

<section>
  <h3>Brand Colors</h3>
  <p>These colors represent the core, pro and magazine colors.
</p>
</section>

<section>
<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$politico-red</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/DC0228/000000?text=+"></span>&nbsp;<code>#DC0228</code></td>
      <td>rgb(220,2,40)</td>
    </tr>
    <tr>
      <td>$politico-red-dark</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/AC0825/000000?text=+"></span>&nbsp;<code>#AC0825</code></td>
      <td>rgb(172,8,37)</td>
    </tr>
    <tr>
      <td>$politico-light-background</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/F4F5F7/000000?text=+"></span>&nbsp;<code>#F4F5F7</code></td>
      <td>rgb(224,245,247)</td>
    </tr>
    <tr>
      <td>$politico-line</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/E5E7EB/000000?text=+"></span>&nbsp;<code>#E5E7EB</code></td>
      <td>rgb(229,231,235)</td>
    </tr>
    <tr>
      <td>$politico-light-type-gray</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/B1B4BD/000000?text=+"></span>&nbsp;<code>#B1B4BD</code></td>
      <td>rgb(117,180,189)</td>
    </tr>
    <tr>
      <td>$politico-dark-type-gray</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/6E7381/000000?text=+"></span>&nbsp;<code>#6E7381</code></td>
      <td>rgb(110,115,129)</td>
    </tr>
    <tr>
      <td>$politico-black</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/282D40/000000?text=+"></span>&nbsp;<code>#282D40</code></td>
      <td>rgb(40,45,64)</td>
    </tr>
    <tr>
      <td>$politico-magazine</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/121522/000000?text=+"></span>&nbsp;<code>#121522</code></td>
      <td>rgb(18,21,34)</td>
    </tr>
    <tr>
      <td>$link = $politico-blue</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/007BC7/000000?text=+"></span>&nbsp;<code>#007BC7</code></td>
      <td>rgb(0,123,199)</td>
    </tr>
    <tr>
      <td>$link-hover</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/0e9af3/000000?text=+"></span>&nbsp;<code>#0e9af3</code></td>
      <td>rgb(14,54,243)</td>
    </tr>
    <tr>
      <td>$politico-orange</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/F86F00/000000?text=+"></span>&nbsp;<code>#F86F00</code></td>
      <td>rgb(248,111,0)</td>
    </tr>
    <tr>
      <td>$facebook</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3b5998/000000?text=+"></span>&nbsp;<code>#3b5998</code></td>
      <td>rgb(59,89,152)</td>
    </tr>
    <tr>
      <td>$twitter</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/00aced/000000?text=+"></span>&nbsp;<code>#00aced</code></td>
      <td>rgb(0,172,237)</td>
    </tr>
    <tr>
      <td>$mail = $politico-magazine</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/121522/000000?text=+"></span>&nbsp;<code>#121522</code></td>
      <td>rgb(18,21,34)</td>
    </tr>
  </tbody>
</table>


</section>
