<a name="diverging-colors"></a>

<section>
  <h3>Diverging</h3>
  <p>Diverging schemes allow the emphasis of a quantitative data display to be progressions outward from a critical midpoint of the data range. Deviations above and below the median death rate from a disease, for example, are well represented by a diverging color scheme. - <a target="blank" href="http://www.personal.psu.edu/cab38/ColorSch/SchHTMLs/CBColorDiv.html">ColorBrewer</a>
</p>
</section>

<section>
<h3 class="mb1">Diverging: Teal-Dirt</h3>
<p class="small"><code>'#196B66','#218C86','#26B1AA','#8CD1CE','#BCDEDD','#E9F0EC','#D2D3C4','#BBA88F','#9E7A4C','#784C11', '#5D3B0F'</code></p>


<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Ramp</th>
      <th>Alias</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$TealDirt-L1</td>
      <td>$DarkTeal</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/196B66/000000?text=+"></span>&nbsp;<code>#196B66</code></td>
      <td>rgb(25,107,102)</td>
    </tr>
    <tr>
      <td>$TealDirt-L2</td>
      <td>$MediumTeal</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/218C86/000000?text=+"></span>&nbsp;<code>#218C86</code></td>
      <td>rgb(33,140,134)</td>
    </tr>
    <tr>
      <td>$TealDirt-L3</td>
      <td>$Teal</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/26B1AA/000000?text=+"></span>&nbsp;<code>#26B1AA</code></td>
      <td>rgb(38,177,170)</td>
    </tr>
    <tr>
      <td>$TealDirt-L4</td>
      <td>$RobinEgg</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/8CD1CE/000000?text=+"></span>&nbsp;<code>#8CD1CE</code></td>
      <td>rgb(140,209,206)</td>
    </tr>
    <tr>
      <td>$TealDirt-L5</td>
      <td>$Aqua</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/BCDEDD/000000?text=+"></span>&nbsp;<code>#BCDEDD</code></td>
      <td>rgb(188,222,221)</td>
    </tr>
    <tr>
      <td>$TealDirt-R5</td>
      <td>$Limestone</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/E9F0EC/000000?text=+"></span>&nbsp;<code>#E9F0EC</code></td>
      <td>rgb(233,240,236)</td>
    </tr>
    <tr>
      <td>$TealDirt-Middle</td>
      <td>$Sandstone</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/D2D3C4/000000?text=+"></span>&nbsp;<code>#D2D3C4</code></td>
      <td>rgb(210,211,196)</td>
    </tr>
    <tr>
      <td>$TealDirt-R4</td>
      <td>$Clay2</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/BBA88F/000000?text=+"></span>&nbsp;<code>#BBA88F</code></td>
      <td>rgb(187,168,143)</td>
    </tr>
    <tr>
      <td>$TealDirt-R3</td>
      <td>$Clay</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/9E7A4C/000000?text=+"></span>&nbsp;<code>#9E7A4C</code></td>
      <td>rgb(158,122,76)</td>
    </tr>
    <tr>
      <td>$TealDirt-R2</td>
      <td>$Coffee</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/784C11/000000?text=+"></span>&nbsp;<code>#784C11</code></td>
      <td>rgb(120,76,17)</td>
    </tr>
    <tr>
      <td>$TealDirt-R1</td>
      <td>$Dirt</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/5D3B0F/000000?text=+"></span>&nbsp;<code>#5D3B0F</code></td>
      <td>rgb(93,59,15)</td>
    </tr>
  </tbody>
</table>
</section>

<section>
<h3 class="mb1">Diverging: Lichen-Sapphire</h3>
<p class="small"><code>'#959632','#a8a74e','#bcb968','#cfcb83','#e3dd9e','#f6f0b9','#d6d2bd','#b4b5c0','#909ac2','#667fc3','#2166c3'
</code></p>


<table class="table content-fit table-bordered">
			<thead>
				<tr>
					<th>Ramp</th>
					<th>Alias</th>
					<th>Hex</th>
					<th>RGB</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$Moss-Sapphire-L1</td>
					<td>$Lichen</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/959632/000000?text=+"></span>&nbsp;<code>#959632</code></td>
					<td>rgb(25,107,102)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-L2</td>
					<td>$Olive</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/a8a74e/000000?text=+"></span>&nbsp;<code>#a8a74e</code></td>
					<td>rgb(168,167,78)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-L3</td>
					<td>$Olive2</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/bcb968/000000?text=+"></span>&nbsp;<code>#bcb968</code></td>
					<td>rgb(188,185,104)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-L4</td>
					<td>$Willow</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/cfcb83/000000?text=+"></span>&nbsp;<code>#cfcb83</code></td>
					<td>rgb(207,203,131)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-L5</td>
					<td>$Willow2</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/e3dd9e/000000?text=+"></span>&nbsp;<code>#e3dd9e</code></td>
					<td>rgb(227,221,158)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-Middle</td>
					<td>$CornFlower</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/f6f0b9/000000?text=+"></span>&nbsp;<code>#f6f0b9</code></td>
					<td>rgb(210,211,196)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-R5</td>
					<td>$Slate</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/d6d2bd/000000?text=+"></span>&nbsp;<code>#d6d2bd</code></td>
					<td>rgb(214,210,189)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-R4</td>
					<td>$BlueGray</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/b4b5c0/000000?text=+"></span>&nbsp;<code>#b4b5c0</code></td>
					<td>rgb(180,181,192)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-R3</td>
					<td>$Periwinkle</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/909ac2/000000?text=+"></span>&nbsp;<code>#909ac2</code></td>
					<td>rgb(144,154,194)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-R2</td>
					<td>$Saphire2</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/667fc3/000000?text=+"></span>&nbsp;<code>#667fc3</code></td>
					<td>rgb(102,127,195)</td>
				</tr>
				<tr>
					<td>$Moss-Sapphire-R1</td>
					<td>$Sapphire</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/2166c3/000000?text=+"></span>&nbsp;<code>#2166c3</code></td>
					<td>rgb(33,102,195)</td>
				</tr>
			</tbody>
		</table>



</section>
