<a name="election-colors"></a>

<section>
    <h3 class="mb1">Top-line Elex colors</h3>
<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$dem</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3571C0/000000?text=+"></span>&nbsp;<code>#3571C0</code></td>
      <td>rgb(53,113,192)</td>
    </tr>
    <tr>
      <td>$gop</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FE5C40/000000?text=+"></span>&nbsp;<code>#FE5C40</code></td>
      <td>rgb(254,92,64)</td>
    </tr>
  </tbody>
</table>
</section>

<section>
    <h3 class="mb1">Dem-GOP ramp</h3>
<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$dem</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3571C0/000000?text=+"></span>&nbsp;<code>#3571C0</code></td>
      <td>rgb(53,113,192)</td>
    </tr>
    <tr>
      <td>$demgop2</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/7392d0/000000?text=+"></span>&nbsp;<code>#7392d0</code></td>
      <td>rgb(115,146,208)</td>
    </tr>
    <tr>
      <td>$demgop3</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/a4b5e0/000000?text=+"></span>&nbsp;<code>#a4b5e0</code></td>
      <td>rgb(164,181,224)</td>
    </tr>
    <tr>
      <td>$demgop4</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/d2d9f0/000000?text=+"></span>&nbsp;<code>#d2d9f0</code></td>
      <td>rgb(210,217,240)</td>
    </tr>
    <tr>
      <td>$white</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffffff/000000?text=+"></span>&nbsp;<code>#ffffff</code></td>
      <td>rgb(225,225,225)</td>
    </tr>
    <tr>
      <td>$gopdem4</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffd8cd/000000?text=+"></span>&nbsp;<code>#ffd8cd</code></td>
      <td>rgb(255,216,205)</td>
    </tr>
    <tr>
      <td>$gopdem3</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffb19c/000000?text=+"></span>&nbsp;<code>#ffb19c</code></td>
      <td>rgb(255,177,156)</td>
    </tr>
    <tr>
      <td>$gopdem2</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ff896d/000000?text=+"></span>&nbsp;<code>#ff896d</code></td>
      <td>rgb(255,137,109)</td>
    </tr>
    <tr>
      <td>$gop</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FE5C40/000000?text=+"></span>&nbsp;<code>#FE5C40</code></td>
      <td>rgb(254,92,64)</td>
    </tr>
  </tbody>
</table>
</section>

<section>
    <h3 class="mb1">10 level Dem colors</h3>
<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$dem</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3571C0/000000?text=+"></span>&nbsp;<code>#3571C0</code></td>
      <td>rgb(53,113,192)</td>
    </tr>
    <tr>
      <td>$dem2</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/D9C3A5/000000?text=+"></span>&nbsp;<code>#D9C3A5</code></td>
      <td>rgb(217,195,165)</td>
    </tr>
    <tr>
      <td>$dem3</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/8998AB/000000?text=+"></span>&nbsp;<code>#8998AB</code></td>
      <td>rgb(137,152,171)</td>
    </tr>
    <tr>
      <td>$dem4 = $dem-light</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/9AD3FC/000000?text=+"></span>&nbsp;<code>#9AD3FC</code></td>
      <td>rgb(154,211,252)</td>
    </tr>
    <tr>
      <td>$dem5</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/C3F4CD/000000?text=+"></span>&nbsp;<code>#C3F4CD</code></td>
      <td>rgb(195,244,205)</td>
    </tr>
    <tr>
      <td>$dem6</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/5DAED4/000000?text=+"></span>&nbsp;<code>#5DAED4</code></td>
      <td>rgb(93,174,212)</td>
    </tr>
    <tr>
      <td>$dem7</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/8ABDC0/000000?text=+"></span>&nbsp;<code>#8ABDC0</code></td>
      <td>rgb(138,189,192)</td>
    </tr>
    <tr>
      <td>$dem8</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/775180/000000?text=+"></span>&nbsp;<code>#775180</code></td>
      <td>rgb(119,81,128)</td>
    </tr>
    <tr>
      <td>$dem9</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FFD682/000000?text=+"></span>&nbsp;<code>#FFD682</code></td>
      <td>rgb(255,214,130)</td>
    </tr>
    <tr>
      <td>$dem10</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/948064/000000?text=+"></span>&nbsp;<code>#948064</code></td>
      <td>rgb(255,214,130)</td>
    </tr>
  </tbody>
</table>
</section>


<section>
    <h3 class="mb1">10 level GOP colors</h3>
<table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$gop</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FE5C40/000000?text=+"></span>&nbsp;<code>#FE5C40</code></td>
      <td>rgb(254,92,64)</td>
    </tr>
    <tr>
      <td>$gop2</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/B8948E/000000?text=+"></span>&nbsp;<code>#B8948E</code></td>
      <td>rgb(184,148,142)</td>
    </tr>
    <tr>
      <td>$gop3</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FBA723/000000?text=+"></span>&nbsp;<code>#FBA723</code></td>
      <td>rgb(251,167,35)</td>
    </tr>
    <tr>
      <td>$gop4 = $gop-light</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FFB2CB/000000?text=+"></span>&nbsp;<code>#FFB2CB</code></td>
      <td>rgb(255,178,203)</td>
    </tr>
    <tr>
      <td>$gop5</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/B41E61/000000?text=+"></span>&nbsp;<code>#B41E61</code></td>
      <td>rgb(180,30,97)</td>
    </tr>
    <tr>
      <td>$gop6</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/433E76/000000?text=+"></span>&nbsp;<code>#433E76</code></td>
      <td>rgb(67,62,118)</td>
    </tr>
    <tr>
      <td>$gop7</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/AC5141/000000?text=+"></span>&nbsp;<code>#AC5141</code></td>
      <td>rgb(172,81,65)</td>
    </tr>
    <tr>
      <td>$gop8</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/7957B4/000000?text=+"></span>&nbsp;<code>#7957B4</code></td>
      <td>rgb(121,87,180)</td>
    </tr>
    <tr>
      <td>$gop9</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FEE0C2/000000?text=+"></span>&nbsp;<code>#FEE0C2</code></td>
      <td>rgb(254,224,194)</td>
    </tr>
    <tr>
      <td>$gop10</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FD87F7/000000?text=+"></span>&nbsp;<code>#FD87F7</code></td>
      <td>rgb(253,135,247)</td>
    </tr>
  </tbody>
</table>
</section>
