<a name="icons"></a>
<section>
  <h3>Politico icons</h3>
  <p class="sans">Use these icons to match the core website when appropriate.</p>
  <table class="table table-bordered content-fit">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td>Politico icon</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--politico"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--politico"></b></td>
      </tr>
      <tr>
          <td>Pro icon</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--pro-small"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--pro-small"></b></td>
      </tr>
      <tr>
          <td>Magazine</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--magazine"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--magazine"></b></td>
      </tr>
      <tr>
          <td>Circle</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--circle"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--circle"></b></td>
      </tr>
      <tr>
          <td>Circle, solid</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--circle-solid"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--circle-solid"></b></td>
      </tr>
      <tr>
          <td>Close</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--close"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--close"></b></td>
      </tr>
      <tr>
          <td>Add</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--add"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--add"></b></td>
      </tr>
      <tr>
          <td>Remove</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--remove"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--remove"></b></td>
      </tr>
      <tr>
          <td>Edit</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--edit"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--edit"></b></td>
      </tr>
      <tr>
          <td>Interactives</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--interactives"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--interactives"></b></td>
      </tr>
      <tr>
          <td>Podcast</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--podcast"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--podcast"></b></td>
      </tr>
      <tr>
          <td>Photo Gallery</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--gallery"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--gallery"></b></td>
      </tr>
      <tr>
          <td>Pie Chart</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--pie"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--pie"></b></td>
      </tr>
      <tr>
          <td>Gear</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--gear"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--gear"></b></td>
      </tr>
      <tr>
          <td>Mail</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--mail"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--mail"></b></td>
      </tr>
      <tr>
          <td>Settings</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--settings"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--settings"></b></td>
      </tr>
      <tr>
          <td>Circle Check</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--circle-check"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--circle-check"></b></td>
      </tr>
      <tr>
          <td>User</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--user"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--user"></b></td>
      </tr>
      <tr>
          <td>Search</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--search"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--search"></b></td>
      </tr>

      <tr>
          <td>Play Button</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--play"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--play"></b></td>
      </tr>
      <tr>
          <td>Alt Play Button</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--play-alt"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--play-alt"></b></td>
      </tr>
      <tr>
          <td>Arrow</td>
          <td>{% raw %}<pre><code class="language-markup"><script type="prism-html-markup"><b class="bt-icon bt-icon--arrow"></b></script></code></pre>{% endraw %}</td>
          <td><b class="bt-icon bt-icon--arrow"></b></td>
      </tr>
    </tbody>
</table>
</section>
