<a name="lists"></a>
<section class="content-fit pt2">

<section>
<h3>Unordered lists</h3>

<code>no-bullets no-indent border</code>
  <ul class="no-bullets no-indent border">
    <li>First item in this list</li>
    <li>Second item in this list</li>
    <li>Third item in this list</li>
  </ul>

<br>
<code>no-bullets no-indent</code>
<ul class="no-bullets no-indent">
  <li>First item in this list</li>
  <li>Second item in this list</li>
  <li>Third item in this list</li>
</ul>

<br>
<code>no classes applied</code>
<ul>
  <li>First item in this list</li>
  <li>Second item in this list</li>
  <li>Third item in this list</li>
</ul>
</section>

<section>
<h3>Ordered lists</h3>
<code>no classes applied</code>
<ol>
  <li>First item in this list</li>
  <li>Second item in this list</li>
  <li>Third item in this list</li>
</ol>
</section>

{% raw %}
<pre><code class="language-django"><script type="prism-django"><ul class="no-bullets no-indent border">
    <li>First item in this list</li>
    <li>Second item in this list</li>
    <li>Third item in this list</li>
  </ul>
</script></code></pre>
{% endraw %}
</section>
