<a name="qualitative-colors"></a>

<section>
<h3 class="mb1">Qualitative</h3>
<p>Qualitative scheme do not imply magnitude differences between legend classes, and hues are used to create the primary visual differences between classes. Qualitative schemes are best suited to representing nominal or categorical data.<p>

<p>Most of the qualitative schemes rely on differences in hue with only subtle lightness differences between colors. You may pick a subset of colors from a legend with more classes if you are not pleased with the subsets. For example, you could pick four colors from a seven-color legend. - <a target="blank" href="http://colorbrewer2.org/learnmore/schemes_full.html#qualitative">ColorBrewer</a></p>

<table class="table content-fit table-bordered">
		<thead>
			<tr>
				<th>Color</th>
				<th>Hex</th>
				<th>RGB</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$q7-teal</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/0D3C73/000000?text=+"></span>&nbsp;<code>#0D3C73</code></td>
				<td>rgb(13,60,115)</td>
			</tr>
			<tr>
				<td>$q7-darkblue</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/329CAC/000000?text=+"></span>&nbsp;<code>#329CAC</code></td>
				<td>rgb(50,156,172)</td>
			</tr>
			<tr>
				<td>$q7-aqua</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/47BEF8/000000?text=+"></span>&nbsp;<code>#47BEF8</code></td>
				<td>rgb(50,156,172)</td>
			</tr>
			<tr>
				<td>$q7-orange</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/F95100/000000?text=+"></span>&nbsp;<code>#F95100</code></td>
				<td>rgb(249,81,0)</td>
			</tr>
			<tr>
				<td>$q7-gold</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/F7A12D/000000?text=+"></span>&nbsp;<code>#F7A12D</code></td>
				<td>rgb(247,161,45)</td>
			</tr>
			<tr>
				<td>$q7-dirt</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/AB9F8F/000000?text=+"></span>&nbsp;<code>#AB9F8F</code></td>
				<td>rgb(171,159,143)</td>
			</tr>
		</tbody>
	</table>

  <h4 class="pt2 mb1">Alt. four color qualitative schme</h4>
  <table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$q4-aqua</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/4FC1E7/000000?text=+"></span>&nbsp;<code>#4FC1E7</code></td>
      <td>rgb(79,193,231)</td>
    </tr>
    <tr>
      <td>$q4-green</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/6BAE80/000000?text=+"></span>&nbsp;<code>#6BAE80</code></td>
      <td>rgb(107,174,128)</td>
    </tr>
    <tr>
      <td>$q4-gray</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3D284D/000000?text=+"></span>&nbsp;<code>#3D284D</code></td>
      <td>rgb(61,40,77)</td>
    </tr>
    <tr>
      <td>$q4-purple</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/694ED6/000000?text=+"></span>&nbsp;<code>#694ED6</code></td>
      <td>rgb(105,78,214)</td>
    </tr>
  </tbody>
</table>

  <h4 class="pt2 mb1">Maps</h4>
  <table class="table content-fit table-bordered">
		<thead>
			<tr>
				<th>Color</th>
				<th>Hex</th>
				<th>RGB</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$q7-gray</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3D284D/000000?text=+"></span>&nbsp;<code>#3D284D</code></td>
				<td>rgb(61,40,77)</td>
			</tr>
			<tr>
				<td>$q7-blue</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/2F6CBA/000000?text=+"></span>&nbsp;<code>#2F6CBA</code></td>
				<td>rgb(47,108,186)</td>
			</tr>
			<tr>
				<td>$q7-green</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/88C2B2/000000?text=+"></span>&nbsp;<code>#88C2B2</code></td>
				<td>rgb(136,194,178)</td>
			</tr>
			<tr>
				<td>$q7-peach</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/FFCAB3/000000?text=+"></span>&nbsp;<code>#FFCAB3</code></td>
				<td>rgb(255,202,179)</td>
			</tr>
			<tr>
				<td>$q7-camel</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/DFA486/000000?text=+"></span>&nbsp;<code>#DFA486</code></td>
				<td>rgb(223,164,134)</td>
			</tr>
			<tr>
				<td>$q7-red</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/BD3232/000000?text=+"></span>&nbsp;<code>#BD3232</code></td>
				<td>rgb(189,50,50)</td>
			</tr>
			<tr>
				<td>$q7-yellow</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/EBEB35/000000?text=+"></span>&nbsp;<code>#EBEB35</code></td>
				<td>rgb(235,235,53)</td>
			</tr>
		</tbody>
	</table>

  <h4 class="pt2 mb1">Qualitative pairs</h4>
  <table class="table content-fit table-bordered">
  <tbody>
    <tr>
      <td>$qp-darkgray</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/3D284D/000000?text=+"></span>&nbsp;<code>#3D284D</code></td>
      <td>rgb(61,40,77)</td>
    </tr>
    <tr>
      <td>$qp-lightgray</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/8E8E98/000000?text=+"></span>&nbsp;<code>#8E8E98</code></td>
      <td>rgb(142,142,152)</td>
    </tr>
    <tr>
      <td>$qp-darkblue</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/7C7CE0/000000?text=+"></span>&nbsp;<code>#7C7CE0</code></td>
      <td>rgb(124,124,224)</td>
    </tr>
    <tr>
      <td>$qp-lightblue</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/9D9DEA/000000?text=+"></span>&nbsp;<code>#9D9DEA</code></td>
      <td>rgb(157,157,234)</td>
    </tr>
    <tr>
      <td>$qp-darkgreen</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/9B9B52/000000?text=+"></span>&nbsp;<code>#9B9B52</code></td>
      <td>rgb(155,155,82)</td>
    </tr>
    <tr>
      <td>$qp-lightgreen</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/C6C677/000000?text=+"></span>&nbsp;<code>#C6C677</code></td>
      <td>rgb(198,198,119)</td>
    </tr>
  </tbody>
</table>

</section>
