<a name="sequential-colors"></a>

<section>
  <h3>Sequential</h3>
  <p>"Sequential data classes are logically arranged from high to low, and this stepped sequence of categories should be represented by sequential lightness steps. Terrain slope categories or population densities, for example, are well represented by sequental color schemes." - <a target="blank" href="https://web.natur.cuni.cz/~langhamr/lectures/vtfg1/mapinfo_2/barvy/colors.html">ColorBrewer</a>
</p>
</section>

<section>
<h3 class="mb1">Sequential Money - Foam</h3>
<p class="small"><code>'#46825a','#5d926d','#73a281','#88b395','#9fc4aa','#b6d4bf','#cce6d5','#e4f7eb'
</code></p>

<table class="table content-fit table-bordered">
  <thead>
				<tr>
					<th>Ramp</th>
					<th>Hex</th>
					<th>RGB</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$moneyfoam1</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/46825a/000000?text=+"></span>&nbsp;<code>#46825a</code></td>
					<td>rgb(70,130,90)</td>
				</tr>
				<tr>
					<td>$moneyfoam2</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/5d926d/000000?text=+"></span>&nbsp;<code>#5d926d</code></td>
					<td>rgb(93,146,109)</td>
				</tr>
				<tr>
					<td>$moneyfoam3</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/73a281/000000?text=+"></span>&nbsp;<code>#73a281</code></td>
					<td>rgb(115,162,129)</td>
				</tr>
				<tr>
					<td>$moneyfoam4</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/88b395/000000?text=+"></span>&nbsp;<code>#88b395</code></td>
					<td>rgb(136,179,149)</td>
				</tr>
				<tr>
					<td>$moneyfoam5</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/9fc4aa/000000?text=+"></span>&nbsp;<code>#9fc4aa</code></td>
					<td>rgb(159,196,170)</td>
				</tr>
				<tr>
					<td>$moneyfoam6</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/b6d4bf/000000?text=+"></span>&nbsp;<code>#b6d4bf</code></td>
					<td>rgb(182,212,191)</td>
				</tr>
				<tr>
					<td>$moneyfoam7</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/cce6d5/000000?text=+"></span>&nbsp;<code>#cce6d5</code></td>
					<td>rgb(204,230,213)</td>
				</tr>
				<tr>
					<td>$moneyfoam8</td>
					<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/e4f7eb/000000?text=+"></span>&nbsp;<code>#e4f7eb</code></td>
					<td>rgb(228,247,235)</td>
				</tr>
			</tbody>
		</table>
  </section>

  <section>
  <h3 class="mb1">Sequential Sangria - Peach</h3>
  <p class="small"><code>'#7a0001','#972516','#b2422c','#cc5f44','#e37e61','#f59e82','#ffc1aa','#ffe5d8'
  </code></p>

  <table class="table content-fit table-bordered">
    <thead>
			<tr>
				<th>Ramp</th>
				<th>Hex</th>
				<th>RGB</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$sangriapeach1</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/7A0001/000000?text=+"></span>&nbsp;<code>#7A0001</code></td>
				<td>rgb(122,0,1)</td>
			</tr>
			<tr>
				<td>$sangriapeach2</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/972516/000000?text=+"></span>&nbsp;<code>#972516</code></td>
				<td>rgb(151,37,22)</td>
			</tr>
			<tr>
				<td>$sangriapeach3</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/b2422c/000000?text=+"></span>&nbsp;<code>#b2422c</code></td>
				<td>rgb(178,66,44)</td>
			</tr>
			<tr>
				<td>$sangriapeach4</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/cc5f44/000000?text=+"></span>&nbsp;<code>#cc5f44</code></td>
				<td>rgb(204,95,68)</td>
			</tr>
			<tr>
				<td>$sangriapeach5</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/e37e61/000000?text=+"></span>&nbsp;<code>#e37e61</code></td>
				<td>rgb(227,126,97)</td>
			</tr>
			<tr>
				<td>$sangriapeach6</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/f59e82/000000?text=+"></span>&nbsp;<code>#f59e82</code></td>
				<td>rgb(245,158,130)</td>
			</tr>
			<tr>
				<td>$sangriapeach7</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffc1aa/000000?text=+"></span>&nbsp;<code>#ffc1aa</code></td>
				<td>rgb(255,193,170)</td>
			</tr>
			<tr>
				<td>$sangriapeach8</td>
				<td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffe5d8/000000?text=+"></span>&nbsp;<code>#ffe5d8</code></td>
				<td>rgb(255,229,216)</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
  <h3 class="mb1">Sequential Red-Yellow</h3>
  <p class="small"><code>'#e53516','#ec5624','#f17233','#f68a41','#faa050','#fdb75f','#fecd6f','#ffe37e'
  </code></p>

  <table class="table content-fit table-bordered">
  <thead>
    <tr>
      <th>Ramp</th>
      <th>Hex</th>
      <th>RGB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$redyellow1</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/e53516/000000?text=+"></span>&nbsp;<code>#e53516</code></td>
      <td>rgb(229,53,22)</td>
    </tr>
    <tr>
      <td>$redyellow2</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ec5624/000000?text=+"></span>&nbsp;<code>#ec5624</code></td>
      <td>rgb(236,86,36)</td>
    </tr>
    <tr>
      <td>$redyellow3</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/f17233/000000?text=+"></span>&nbsp;<code>#f17233</code></td>
      <td>rgb(241,114,51)</td>
    </tr>
    <tr>
      <td>$redyellow4</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/f68a41/000000?text=+"></span>&nbsp;<code>#f68a41</code></td>
      <td>rgb(246,138,65)</td>
    </tr>
    <tr>
      <td>$redyellow5</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/faa050/000000?text=+"></span>&nbsp;<code>#faa050</code></td>
      <td>rgb(250,160,80)</td>
    </tr>
    <tr>
      <td>$redyellow6</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/fdb75f/000000?text=+"></span>&nbsp;<code>#fdb75f</code></td>
      <td>rgb(253,183,95)</td>
    </tr>
    <tr>
      <td>$redyellow7</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/fecd6f/000000?text=+"></span>&nbsp;<code>#fecd6f</code></td>
      <td>rgb(254,205,111)</td>
    </tr>
    <tr>
      <td>$redyellow8</td>
      <td><span class="RepoImage"><img alt="" src="https://placehold.it/15/ffe37e/000000?text=+"></span>&nbsp;<code>#ffe37e</code></td>
      <td>rgb(255,227,126)</td>
    </tr>
  </tbody>
</table>
</section>
