<nav>
  <h4 class="mt5"><b style="color:#dc0228;" class="small bt-icon bt-icon--politico"></b></h4>
  <ul>
    <h5 class="mini-header">Themes</h5>
    <li>
      <a href="#themes">Getting started</a>
    </li>
    <h5 class="mini-header">Accessiblity</h5>
    <li>
      <a href="#accessibility">Best Practices</a>
    </li>
    <h5 class="mini-header">Layout</h5>
    <li>
      <a href="#breakpoints">Breakpoints</a>
    </li>
    <li>
      <a href="#the-grid">The Grid</a>
    </li>

    <li>
      <a href="#layout">Standard Spacing</a>
    </li>
    <h5 class="mini-header">Typography</h5>
    <li>
      <a href="#fonts">Fonts</a>
    </li>
    <li>
      <a href="#header">Header</a>
    </li>
    <li>
      <a href="#subheds">Subheds & Tags</a>
    </li>
    <li>
      <a href="#paragraphs">Paragraphs</a>
    </li>
    <li>
      <a href="#text-alignment">Text Alignment</a>
    </li>
    <h5 class="mini-header">Color Palette</h5>
    <li>
      <a href="#brand-colors">Brand</a>
    </li>
    <li>
      <a href="#base-colors">Base</a>
    </li>
    <li>
      <a href="#election-colors">Election</a>
    </li>
    <li>
      <a href="#qualitative-colors">Qualitative</a>
    </li>
    <li>
      <a href="#diverging-colors">Diverging</a>
    </li>
    <li>
      <a href="#sequential-colors">Sequential</a>
    </li>
    <h5 class="mini-header">Iconography</h5>
    <li>
      <a href="#icons">Icons</a>
    </li>
    <h5 class="mini-header">Components</h5>
    <li>
      <a href="#lists">Lists</a>
    </li>
    <li>
      <a href="#tables">Tables</a>
    </li>
    <li>
      <a href="#photos">Photos</a>
    </li>
    <li>
      <a href="#cards">Cards</a>
    </li>
  </ul>
</nav>
