<a name="themes"></a>
<section class="content-fit">

<h3>Getting started with themes</h3>

<p class="sans">
  Install the theme.
</p>
{% raw %}
<pre><code class="language-markup"><script type="pb3">$ yarn add politico-style</script></code></pre>
{% endraw %}

<p class="sans">
  Include the theme you want in your SCSS...
</p>
{% raw %}
<pre><code class="language-css"><script type="pb3">@import '~politico-style/scss/base/theme';</script></code></pre>
{% endraw %}

<p class="sans">
  ... or in your JavaScript.
</p>
{% raw %}
<pre><code class="language-javascript"><script type="pb3">import 'politico-style/scss/base/theme';</script></code></pre>
{% endraw %}
</section>
