<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8">
<title>Politico Style - Elections theme</title>
<link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/base-icons/politico-base-icons.min.css">
<link rel="stylesheet" href="../css/elections/main.css">
<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous">
</script>
<!--Typekit-->
<script src="https://use.typekit.net/ijp3uro.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- end -->
