@import '../../base/theme/fonts';

nav{
  width: 250px;
  float: left;
  height: 100vh;
  overflow-y: scroll;
  font-family: $din;
  padding: 10px 40px 10px;
  h4{
    text-align: left;
  }
  ul{
    width: 100%;
    padding-left: 0;

    h5.mini-header{
      margin-top: 1.5rem;
      padding: .5rem 0 0;
      display: inline-block;
      font-weight: 700;
    }
    li{
      margin: 4px 0;
      list-style-type: none;
      cursor: pointer;
      a{
        display: block;
        width: 100%;
      }
      &:hover{
        background-color: lightgrey;
        a{
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}

content{
  width: calc(100% - 250px);
  float: left;
  height: 100vh;
  padding: 10px 5px 40px;
  overflow-y: scroll;
  article{
    width: 100% !important;
  }
}
