<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/themes/prism.min.css" />
    <link rel="stylesheet" href="../css/pages/style-guide/main.css">
    <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/battletoads/icons/politico-battletoads-icons.min.css">

    <!--Typekit-->
    <link rel="stylesheet" href="https://use.typekit.net/ogn0czn.css">
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- end -->
  </head>
  <body>
    {% include "style-guide/partials/sidenav.html" %}
    <content>
      <article class="container">
        <section class="border-bottom">
          {% include "style-guide/partials/welcome.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/themes.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/accessibility.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/breakpoints.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/the-grid.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/layout.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/fonts.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/header.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/subheds.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/paragraphs.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/base-colors.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/text-alignment.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/icons.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/lists.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/tables.html" %}
        </section>
        <section class="border-bottom">
          {% include "style-guide/partials/cards.html" %}
        </section>
      </article>
    </content>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/style-guide/prism-django.min.js"></script>
  </body>
</html>
