footer{
  // border-top: 10px solid #f2f2f5;
  background-color: #f2f2f5;
  padding: 20px;
  p{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
    font-family: $fancy-serif;
    font-size: 13px;
  }
}
