nav.global{
    font-size: 15px;
    padding: 15px 20px 10px;
    background-color: white;
    border-bottom: 10px solid #f2f2f5;

    .bt-icon--house svg{
      height: 25px;
      display: block;
      float: left;
      padding-right: 10px;
    }

    b {
        color: $politico-red;
        padding-right: 10px;
    }

    span.project-name{
      font-size: 21px;
      text-transform: uppercase;
      font-family: "courier new";
      font-weight: 200;
    }

    ul.nav{
      .nav-link{
        padding: .25rem .5rem;
      }
    }
}
