ol.instructions {
    list-style-type: none;
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
    font-family: $georgia;
    font-size: 1.2rem;

}
ol.instructions > li{
    position: relative;
    margin-bottom: 20px;
    padding: 1em;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    width: 95.5%;
    margin-left: 4.5%;
}
ol.instructions > li:before {
  position: absolute;
  top: 8%;
  left: -4.5em;
  font-family: $din;
  font-size: 1em;
  line-height: 1;
  font-weight: 100;
  text-align: center;
  color: #464646;
  z-index: -99;
  overflow: hidden;
  content: counter(li-counter);
  counter-increment: li-counter;
  border-radius: 100px;
  padding: 20px 25px;
  background-color: #f2f2f2;
}



//
// .instructions {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }
//
// .instructions li {
//   counter-increment: step-counter;
//   margin-bottom: 20px;
//   font-family: $georgia;
//   font-size: 1.2rem;
//   font-weight: 200;
//
// }
//
// .instructions li::before {
//   content: counter(step-counter);
//   margin-right: 5px;
//   background-color: $white;
//   font-weight: bold;
//   padding: 6px 12px;
//   border-radius: 100px;
//   border: 1px solid $politico-medium-gray;
//   line-height: 1;
//   font-size: 1.4rem;
//   font-family: $din;
//   font-weight: 100;
//   display: block;
//   width: 37px;
//   margin: 10px auto 5px;
//   float: left;
//
// }
