$border-color: #ced4da;
$border-focus-color: #b1eaf3;
$shadow-color: rgba(146, 202, 234, .25);
$washer: rgba(110, 115, 129, .5);
$delete-background: #b1b4bd;

.s3-image-service {
  .edit {
    cursor: pointer;
    margin: 1.3rem 0 .5rem .3rem;
    padding-top: 1.5px;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: .1px;
    z-index: -1;

    &:focus {
      label {
        background-color: $white;
        border-color: $border-focus-color;
        box-shadow: $shadow-color;
        outline: 0;
      }
    }
  }

  .dnd {
    align-items: center;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 0;
    width: 100%;

    .icon {
      fill: none;
      height: 80px;
      stroke: $border-color;
      stroke-width: 20px;
    }

    &:hover {
      .icon {
        stroke: $politico-dark-red;
      }
    }

    &.hover {
      .icon {
        stroke: $politico-dark-red;
      }
    }
  }

  .preview {
    align-items: center;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    min-height: 200px;
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .delete-container {
    align-items: center;
    background-color: $washer;
    bottom: 0;
    display: flex;
    font-size: 20px;
    justify-content: center;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s ease;

    .delete {
      background-color: $delete-background;
      border-radius: 100px;
      box-sizing: content-box;
      cursor: pointer;
      font-size: 80px;
      padding: 2px 31.705px 14px;
      width: 74px;

      svg {
        fill: $white;
        stroke: $white;
        width: 100%;
      }
    }

    &:hover {
      opacity: .85;
    }
  }
}
