<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POLITICO Sketch Theme</title>
    <link rel="stylesheet" href="../css/sketch/main.css">
  </head>
  <body>

    {% include "sketch/partials/nav-global.html" %}

    <article class="container">
      <header>
        <h5 class="text-center">Welcome to</h5>
        <h1>Fake News APP</h1>
      </header>

      <div class="row justify-content-between content-fit search">
        <div class="offset-sm-1 col-sm-9">
          <input class="form-control" type="search" placeholder="Start with a suggestion" aria-label="Search">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-outline-success " type="submit"><b class="bt-icon bt-icon--search"></b></button>
        </div>
      </div>


      <section>
        <h2>Instructions</h2>
        <ol class="instructions">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
          <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</li>
          <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi.</li>
        </ol>
      </section>


      <section>
        <h2>Buttons</h2>

          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
          <button type="button" class="btn btn-outline-dark">Dark</button>

      </section>

      <section>
        <h2>Pill Filters</h2>

          <button type="button" class="filter btn active">Filter 1 <span class="badge badge-light">✓</span></button>
          <button type="button" class="filter btn ">Filter 2</button>
          <button type="button" class="filter btn ">Filter 3</button>


          <h5 class="mt3">Active</h5>
          <button type="button" class="filter btn active">Filter 1 <span class="badge badge-light">✓</span></button>

          <h5 class="mt3">Uncheck</h5>
          <button type="button" class="filter btn fake-hover">Filter 1 <span class="badge badge-light">✕</span></button>
      </section>

      <section>
        <h5>List title</h5>
        <ul class="">
            <li class="active">Andrew Briz</li>
            <li class="">Sarah Frostenson</li>
            <li>Tyler Fisher</li>
            <li>Lily Mihalik</li>
            <li>Jon McClure</li>
        </ul>
      </section>


      <section>
        <h2>tags</h2>
        <div id="check-tags-container" class="row">
          <div id="check-tags" class="tagContainer">
            <div class="ReactTags__tags">
              <div class="ReactTags__selected"><span class="ReactTags__tag" draggable="true" style="opacity: 1;">Trump<a class="ReactTags__remove">×</a></span>
              <span class="ReactTags__tag" draggable="true" style="opacity: 1;">Lorem<a class="ReactTags__remove">×</a></span>

              <div class="ReactTags__tagInput mt2"><input class="ReactTags__tagInputField" type="text" placeholder="Add new tag" aria-label="Add new tag" value=""></div>
              </div>
            </div>
          </div>
          <small id="help-check-tags" class="form-text text-muted">Separate tags by comma.</small>
        </div>
        </div>

      </section>
      <section>
        <h2>Check Boxes and Radio Dials</h2>
        <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="tk">
              <label class="custom-control-label" for="tk">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="tk3">
              <label class="custom-control-label" for="tk3">Shipping address is the same as my billing address</label>
        </div>

        <div class="custom-control custom-radio">
                <input id="tk2" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="tk2">Credit card</label>
        </div>
        <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Debit card</label>
          </div>


      </section>


      <!-- <section>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
          </ul>
      </section> -->

      <section>
        {% include "sketch/partials/forms.html" %}
      </section>
    </article>
  </body>
  {% include "sketch/partials/footer.html" %}
</html>
