<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POLITICO Sketch Theme</title>
    <link rel="stylesheet" href="../css/sketch/main.css">
  </head>
  <body>

    {% include "sketch/partials/nav-global.html" %}

    <article>
      <h1 class="fancy-serif">Sketch theme</h1>
      <p>
        A theme for first drafts.
      </p>

      <section>
        {% include "sketch/partials/forms.html" %}
      </section>
    </article>
  </body>
  {% include "sketch/partials/footer.html" %}
</html>
