<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POLITICO Styles</title>
    <link rel="stylesheet" href="./css/pages/home/main.css">
  </head>
  <body>
    <header>
      <b class="bt-icon bt-icon--politico"></b>
    </header>
    <article>
      <h1 class="gray"><small><b class="bt-icon bt-icon--politico"></b></small>Style</h1>
      <section class="go text-center">
        <p>
          Styles for custom pages, maintained by the Interactive News team.
        </p>
        <a href="./style-guide/">
          <button class="btn-super">Get Started</button>
        </a>
      </section>
      <section class="themes text-center">
        <h6>Themes</h6>
          <p><span class="cell"><a href="./base/">Base</a></span><span class="cell"><a href="./elections/">Elections</a></span><span class="cell"><a href="./sketch/">Sketch</a></span></p>
      </section>
    </article>

  </body>
</html>
