.sans {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.sans-light {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

.sans-bold {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

.graphic-text {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.graphic-text .bold {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

.credits {
  margin-top: 3rem;
  font-size: .9rem;
  text-align: center; }

div.share {
  text-align: center;
  margin: 20px auto; }
  div.share a {
    color: white;
    background-color: #f7f7f7;
    padding: 5px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    transition: all .2s;
    text-decoration: none;
    cursor: pointer; }
    div.share a.icon-facebook {
      background-color: #3b5998; }
    div.share a.icon-twitter {
      background-color: #00aced; }
    div.share a.icon-mail {
      background-color: #999999; }
    div.share a:hover {
      text-decoration: none; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  padding: 0 15px;
  margin: 0 8px 8px 8px; }

a {
  cursor: pointer; }

.election-results {
  max-width: 900px;
  margin: 0 auto; }

tbody {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "din-2014", Helvetica, Arial, sans-serif; }

h1 {
  text-align: center;
  font-size: 2.5rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem; }

.space-case {
  letter-spacing: 3px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto; }

h5 + h1 {
  margin-top: 0; }

.forty-five {
  float: left;
  width: 45%; }

.fifty {
  float: left;
  width: 50%; }

.fifty-five {
  float: left;
  width: 55%; }

.clear {
  clear: both; }

#global-header::after {
  clear: both;
  content: '';
  display: table; }

#global-header #global-header::after, #global-header ul::after {
  clear: both;
  content: '';
  display: table; }

#global-header .icon-politico {
  font-size: 16px;
  line-height: 46px;
  margin-left: .7em;
  color: #9e0000; }

#global-header a:hover, #global-header a:focus {
  text-decoration: none;
  opacity: .8; }

#global-header #global-branding {
  float: left; }

#global-header #nav-micro {
  float: right; }
  #global-header #nav-micro .icon.icon-pro-small-bold {
    font-size: 1em;
    line-height: 2.29166666666667em;
    padding: 0 .3125em; }
  #global-header #nav-micro ul {
    list-style: none;
    margin: 00;
    padding-bottom: 0;
    color: #000; }
    #global-header #nav-micro ul li {
      float: left;
      text-transform: uppercase;
      font-size: .8rem; }
    #global-header #nav-micro ul li > a {
      display: block;
      font-family: "din-2014", Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 45px;
      min-width: 2.5em;
      padding: 0 .9375em;
      position: relative;
      text-align: center;
      text-decoration: none;
      color: #000; }

.light-theme #global-header {
  border-bottom: 0; }

.light-theme .micro-list > li > a {
  border: 0; }

h1 {
  margin-bottom: 5px; }

p.time {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px auto; }
  p.time .live {
    font-weight: bold;
    color: #9e0000;
    font-size: 1.1rem; }
  p.time .timestamp {
    color: #9e0000; }

.jumpto {
  margin: 0 auto; }
  .jumpto p {
    font-size: .8rem;
    text-align: center;
    font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .jumpto a {
    text-decoration: underline;
    margin: 0 5px; }

section.results-group {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: dashed 2px #ddd; }
  section.results-group h3 {
    margin: 0;
    text-align: center; }
  section.results-group h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal; }
  section.results-group table {
    margin-bottom: 2.5rem; }

section.results-list {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: dashed 2px #ddd; }
  section.results-list h3 {
    margin: 0; }
  section.results-list section.results-group {
    margin-top: 0rem;
    padding-top: 0rem;
    border-top: 0; }

tbody .header th {
  border-bottom: dashed 1px #ddd;
  padding-right: 15px;
  padding-bottom: 3px;
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: .7rem;
  text-align: left; }
  tbody .header th.vote-count {
    text-align: right; }

tbody td {
  padding: 5px 15px 5px 0;
  font-size: 1.1rem;
  border-bottom: dashed 1px #ddd; }

table.results-table {
  border-collapse: collapse; }

.key {
  font-family: "franklin-gothic-urw", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  padding-right: 3px;
  margin: 10px auto;
  width: auto; }
  .key span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 0 2px 0 5px; }
    .key span:first-of-type {
      margin-left: 0; }
    .key span.primary-green {
      background-color: #44A783; }
