$din: 'din-2014', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$franklin: 'franklin-gothic-urw', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.sans {
    font-family: $franklin;
}

.sans-light {
    font-family: $franklin;
    font-weight: 300;
}

.sans-bold {
    font-family: $franklin;
    font-weight: 700;
}

.graphic-text {
    font-family: $franklin;
}

.graphic-text .bold {
    font-family: $franklin;
    font-weight: 700;
}
