$din: 'din-2014', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$franklin: 'franklin-gothic-urw', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, 'Times New Roman', serif;
$jubilat: 'Jubilat', Georgia, Times, 'Times New Roman', serif;
