<header class="center">
  <div class="share">
     <a href="" class="share-icon twitter" target="_blank"><img src="../../components/share-icons/test.png"></a>
     <a href="" class="share-icon" target="_blank"></a>
     <!-- <a class="icon icon-mail" target="_blank"></a> -->
  </div>
  <p class="category">
      <a href="###" target="_blank">Category title</a>
  </p>
  <h1>
    Your pithy, compelling headline, would you share it?
  </h1>
  <p class="subhead">
          Short subhead
  </p>
  <div class="info">
      <p>
          By <span class="byline"><a href="###">First Lastname</a></span> and <span class="byline"><a href="###">First Lastname</a></span> | <span class="timestamp"> <time datetime="{{META.timestamp}}">{{META.dateline}}</time></span>
      </p>
  </div>
</header>
