<nav title="navigation">
    <div id="global-header">
        <div id="global-branding">
           <a class="navbar-brand" href="http://www.politico.com/" title="POLITICO" target="_top">
             <span class="icon icon-politico "></span>
             <span class="icon-text">POLITICO</span>
           </a>
        </div>
        <nav id="nav-micro" role="navigation">
          <ul class="micro-list">
            <li class="subnav">
                <a href="http://www.politico.com/magazine/" target="_top">Magazine
            </a></li>
            <li class="subnav">
                <a href="https://www.politicopro.com" target="_top"><span aria-hidden="true" class="icon icon-pro-small-bold"></span>
                <span class="icon-text">POLITICO PRO</span>
            </a></li>
          </ul>
        </nav>
    </div>
</nav>
