<nav title="navigation" class="global">
  <div id="global-header">
    <div id="header-contents">
    <div id="global-branding">
       <a class="navbar-brand" href="https://www.politico.com/" title="POLITICO" target="_top">
         <span class="bt-icon bt-icon--politico"></span>
       </a>
    </div>

    <nav id="nav-micro" role="navigation">

      <div class="header-content">
        <div class="header-left">
          <img style="height: 25px;"" src="https://d30y9cdsu7xlg0.cloudfront.net/png/54557-200.png">
        </div>

        <div class="header-right">
          <ul class="micro-list">
            <li class="subnav">
              <a href="https://www.politico.com/magazine/" target="_top">Magazine</a>
            </li>
            <li class="subnav hide-phone">
              <a href="https://www.politico.com/agenda/" target="_top">
              The Agenda
              </a>
            </li>

            <li class="subnav">
              <a href="https://www.politicopro.com" target="_top">
                 PRO
              </a>
            </li>
          </ul>
        </div>

    </div>
    </nav>
  </div>
</div>
</nav>
