<nav title="navigation" class="global">
<div id="global-header">
  <div id="header-contents">
    <div id="global-branding">
       <a class="navbar-brand" href="https://www.politico.com/" title="POLITICO" target="_top">
         <span class="bt-icon bt-icon--politico"></span>
       </a>
    </div>

    <nav id="nav-micro" role="navigation">
      <div class="header-content">
          <div class="header-left">
            <a href="https://www.politico.com"><img style="height: 25px;" src="/custom-icons/icon_home.svg"></a>
          </div>

          <div class="header-right">
            <ul class="micro-list">
                <li class="subnav d-none d-sm-block"><a href="https://www.politico.com/magazine/" target="_top">Mag<span class="d-sm-none d-md-none">azine</span></a></li>
                <li class="subnav d-none d-sm-block"><a href="https://www.politico.com/agenda/" target="_top"><span class="d-sm-none">The</span> Agenda</a></li>
                <li class="subnav"><a href="https://www.politicopro.com" target="_top">PRO</a></li>
            </ul>
          </div>
      </div>
      </nav>
  </div>
</div>
</nav>
