<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Refresh" content="0; url='https://the-politico.github.io/politico-interactive-style/colors/'" />
    <meta charset="utf-8">
    <title>POLITICO Style Guide</title>
    <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/battletoads/icons/politico-battletoads-icons.min.css">

    <!--Typekit-->
    <link rel="stylesheet" href="https://use.typekit.net/ogn0czn.css">
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>
    <div id="app"></div>
    <script>
      /* Redirect */
      window.location.href = "https://the-politico.github.io/politico-interactive-style/colors/"
    </script>
</body>

</html>
