<section class="credits sans app">
  By <span class="byline"><a href="https://twitter.com/tylrfishr">Tyler Fisher</a></span>, <span class="byline"><a href="https://twitter.com/sfrostenson">Sarah Frostenson</a></span>,
  <span class="byline"><a href="https://twitter.com/Jeremy_CF_Lin">Jeremy C.F. Lin</a></span>, <span class="byline"><a href="https://twitter.com/JonRMcClure">Jon McClure</a></span> and
  <span class="byline"><a href="https://twitter.com/mazet">Lily Mihalik</a>.</span>
  <br/>
</section>
