<section class="elex-footer results-list app">

  <h4>See more results</h4>
  <ul>
    <li>
      <a href="#">Alabama</a>
    </li>
    <li>
      <a href="#">Alaska</a>
    </li>
    <li>
      <a href="#">Arkansas</a>
    </li>
    <li>
      <a href="#">California</a>
    </li>
    <li>
      <a href="#">Colorado</a>
    </li>
    <li>
      <a href="#">Connecticut</a>
    </li>
    <li>
      <a href="#">Delaware</a>
    </li>
    <li>
      <a href="#">District of Colombia</a>
    </li>
    <li>
      <a href="#">Florida</a>
    </li>
    <li>
      <a href="#">Georgia</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="#">Hawaii</a>
    </li>
    <li>
      <a href="#">Idaho</a>
    </li>
    <li>
      <a href="#">Illinois</a>
    </li>
    <li>
      <a href="#">Indiana</a>
    </li>
    <li>
      <a href="#">Iowa</a>
    </li>
    <li>
      <a href="#">Kansas</a>
    </li>
    <li>
      <a href="#">Kentucky</a>
    </li>
    <li>
      <a href="#">Louisiana</a>
    </li>
    <li>
      <a href="#">Maine</a>
    </li>
    <li>
      <a href="#">Maryland</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="#">Massachusetts</a>
    </li>
    <li>
      <a href="#">Michigan</a>
    </li>
    <li>
      <a href="#">Minnesota</a>
    </li>
    <li>
      <a href="#">Mississippi</a>
    </li>
    <li>
      <a href="#">Missouri</a>
    </li>
    <li>
      <a href="#">Montana</a>
    </li>
    <li>
      <a href="#">Maine</a>
    </li>
    <li>
      <a href="#">Nebraska</a>
    </li>
    <li>
      <a href="#">Nevada</a>
    </li>
    <li>
      <a href="#">New Hampshire</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="#">New Jersey</a>
    </li>
    <li>
      <a href="#">New Mexico</a>
    </li>
    <li>
      <a href="#">New York</a>
    </li>
    <li>
      <a href="#">North Carolina</a>
    </li>
    <li>
      <a href="#">Ohio</a>
    </li>
    <li>
      <a href="#">Oklahoma</a>
    </li>
    <li>
      <a href="#">Oregon</a>
    </li>
    <li>
      <a href="#">Pennsylvania</a>
    </li>
    <li>
      <a href="#">Rhode Island</a>
    </li>
    <li>
      <a href="#">South Carolina</a>
    </li>
  </ul>

  <ul>


    <li>
      <a href="#">South Dakota</a>
    </li>
    <li>
      <a href="#">Tennessee</a>
    </li>
    <li>
      <a href="#">Texas</a>
    </li>
    <li>
      <a href="#">Utah</a>
    </li>
    <li>
      <a href="#">Vermont</a>
    </li>
    <li>
      <a href="#">Virginia</a>
    </li>
    <li>
      <a href="#">Washington</a>
    </li>
    <li>
      <a href="#">West Virginia</a>
    </li>
    <li>
      <a href="#">Wisconsin</a>
    </li>
    <li>
      <a href="#">Wyoming</a>
    </li>
  </ul>


  <div class="clear"></div>




</section>
