<nav title="navigation">
  <div id="global-header">
    <div id="global-branding">
       <a class="navbar-brand" href="https://www.politico.com/" title="POLITICO" target="_top">
         <span class="icon icon-politico "></span>
         <span class="icon-text">POLITICO</span>
       </a>
       <span class="elex-tag"> Elections</span>
    </div>
    <nav id="nav-micro" role="navigation">
      <ul class="micro-list">
        <li class="subnav">
          <a href="https://www.politico.com/magazine/" target="_top">Magazine</a>
        </li>
        <li class="subnav hide-phone">
          <a href="https://www.politico.com/agenda/" target="_top">
          The Agenda
          </a>
        </li>

        <li class="subnav">
          <a href="https://www.politicopro.com" target="_top">
            <span class="hide-phone">POLITICO</span> PRO
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
