//Brand
// Brand colors
$politico-red: #DC0228;
$politico-dark-red: #AC0825;
$politico-light-background: #f4f5f7;
$politico-line: #E5E7EB;
$politico-light-gray-type: #B1B4BD;
$politico-dark-gray-type: #6E7381;
$politico-black: #282D40;
$politico-magazine: #121522;
$politico-blue: #007BC7;
$politico-orange: #F86F00;

// Monochromes
$transparent: transparent;
$black: #000000;
$satan: #666;
$white: #ffffff;
$gray: $politico-light-gray-type;
$light-gray: $politico-line;
$dark-gray: $satan;
$medium-gray: $politico-dark-gray-type;
$politico-light-gray: $light-gray;
$politico-medium-gray: $politico-dark-gray-type;
$politico-dark-gray: $satan;
$politico-alt-black: #282828;


// Element colors
$facebook: #3b5998;
$twitter: #00aced;
$mail: $politico-dark-gray-type;
$link: $politico-blue;
$link-hover: #0e9af3;
$button: $politico-line;
$annotation: #fff1df;
$annotation-hover: #fff9f1;
$highlighter-yellow: #fffab7;
$highlighter-orange: #f9d289;
$midnight: #312b41;
