// Brand colors
$politico-red: #dc0228;
$politico-dark-red: #b70000;
$politico-gray: #22252c;

// Monochromes
$transparent: transparent;
$black: #000000;
$white: #ffffff;
$alt-black: #282828;
$light-gray: #f7f7f7;
$gray: #dddddd;
$dark-gray: #999999;
$very-dark-gray: #666666;
$dark-grey: $dark-gray;
$satan: $very-dark-gray;
$medium-gray: $dark-gray;

// Element colors
$facebook: #3b5998;
$twitter: #00aced;
$mail: #a9a9a9;
$link: #0a7cc4;
$button: #7aaaf4;
$highlighter-yellow: #fffab7;
$highlighter-orange: #f9d289;
$dem: #2b6abd;
$gop: #fd5639;
$teal: #6bd1bb;
