//teal-dirt
$teal1:  #196B66;
$teal2: #218C86;
$teal3: #26B1AA;
$teal4: #8CD1CE;
$teal5: #BCDEDD;
$dirtteal: #E9F0EC;
$dirt5: #D2D3C4;
$dirt4: #BBA88F;
$dirt3: #9E7A4C;
$dirt2: #784C11;
$dirt1: #5D3B0F;

//moss-sapphire
$moss1:#959632;
$moss2: #a8a74e;
$moss3: #a8a74e;
$moss4: #cfcb83;
$moss5: #e3dd9e;
$mosssapphire: #f6f0b9;
$shappiremoss5:#d6d2bd;
$shappiremoss4: #b4b5c0;
$shappiremoss3:#909ac2;
$shappiremoss2:#667fc3;
$shappiremoss1:#2166c3;
