//Seven color qualitative scheme
$q6-teal: #0D3C73;
$q6-darkblue: #329CAC;
$q6-aqua: #47BEF8;
$q6-orange: #F95100;
$q6-gold: #F7A12D;
$q6-dirt: #AB9F8F;

//Four color qualitative schemes
$q4-aqua: #4FC1E7;
$q4-green: #6BAE80;
$q4-gray: #3D284D;
$q4-purple: #694ED6;

//Maps
$q7-gray: #3D284D;
$q7-blue: #2F6CBA;
$q7-green: #88C2B2;
$q7-peach: #FFCAB3;
$q7-camel: #DFA486;
$q7-red: #BD3232;
$q7-yellow: #EBEB35;

//Qualitative pairs
$qp-gray: #3D284D;
$qp-lightgray: #8E8E98;
$qp-purple: #7C7CE0;
$qp-lightpurple:#9D9DEA;
$qp-green: #9B9B52;
$qp-lightgreen:#C6C677;
