//Qualitative 7
$Qualitative7-Gray: #3d284d;
$Qualitative7-Blue: #2f6cba;
$Qualitative7-Green: #88c2b2;
$Qualitative7-Peach: #ffcab3;
$Qualitative7-Camel: #dfa486;
$Qualitative7-Red: #bd3232;
$Qualitative7-Yellow: #ebeb35;

//Qualitative 5
$Qualitative5-Gray: #3d284d;
$Qualitative5-Green: #538288;
$Qualitative5-Red: #e88471;
$Qualitative5-Orange: #efb474;
$Qualitative5-Yellow: #efe571;

//Qualitative Pairs
$QualitativePairs-DarkGray: #3d284d;
$QualitativePairs-LightGray: #8e8e98;
$QualitativePairs-DarkBlue: #7c7ce0;
$QualitativePairs-LightBlue: #9d9dea;
$QualitativePairs-DarkGreen: #9b9b52;
$QualitativePairs-LightGreen: #c6c677;

//Qualitative4 Blue Green
$Qualitative4-Aqua: #4fc1e7;
$Qualitative4-Green: #6bae80;
$Qualitative4-Gray: #3d284d;
$Qualitative4-Purple: #694ed6;
