//Sequential Sangria - Peach
$SangriaPeach-L1: #7a0001;
$SangriaPeach-L2: #9b0001;
$SangriaPeach-L3: #b72715;
$SangriaPeach-L4: #d24327;
$SangriaPeach-L5: #ef5d3a;
$SangriaPeach-R5: #ff7d57;
$SangriaPeach-R4: #ffa182;
$SangriaPeach-R3: #ffc3ac;
$SangriaPeach-R2: #ffe5d8;
$SangriaPeach-R1: #fef5f0;

//Sequential Money
$MoneyFoam-L1: #46825a;
$MoneyFoam-L2: #578e69;
$MoneyFoam-L3: #699c79;
$MoneyFoam-L4: #79a887;
$MoneyFoam-L5: #8bb597;
$MoneyFoam-R5: #9cc2a7;
$MoneyFoam-R4: #aecfb8;
$MoneyFoam-R3: #c0dcc9;
$MoneyFoam-R2: #d2e9da;
$MoneyFoam-R1: #e4f7eb;

//Sequential Yellow-Red
$YellowRed-L1: #ffe37e;
$YellowRed-L2: #ffd272;
$YellowRed-L3: #fec166;
$YellowRed-L4: #fcaf5a;
$YellowRed-L5: #f99e4e;
$YellowRed-R5: #f68c43;
$YellowRed-R4: #f37937;
$YellowRed-R3: #ef662c;
$YellowRed-R2: #ea5021;
$YellowRed-R1: #e53516;

//Sequential Gold-Magenta
$GoldMagenta-L1: #ffa602;
$GoldMagenta-L2: #f3962c;
$GoldMagenta-L3: #e6863e;
$GoldMagenta-L4: #d9764c;
$GoldMagenta-L5: #cc6657;
$GoldMagenta-R5: #bf5561;
$GoldMagenta-R4: #b1446a;
$GoldMagenta-R3: #a23472;
$GoldMagenta-R2: #92207a;
$GoldMagenta-R1: #810082;
