//Sequential Money - Foam
$moneyfoam1: #46825a;
$moneyfoam2: #5d926d;
$moneyfoam3: #73a281;
$moneyfoam4: #88b395;
$moneyfoam5: #9fc4aa;
$moneyfoam6: #b6d4bf;
$moneyfoam7: #cce6d5;
$moneyfoam8: #e4f7eb;

//Sequential Sangria - Peach
$sangriapeach1: #7A0001;
$sangriapeach2: #972516;
$sangriapeach3: #b2422c;
$sangriapeach4: #cc5f44;
$sangriapeach5: #e37e61;
$sangriapeach6: #f59e82;
$sangriapeach7: #ffc1aa;
$sangriapeach8: #ffe5d8;

//Sequential Red-Yellow
$redyellow1: #e53516;
$redyellow2: #ec5624;
$redyellow3: #f17233;
$redyellow4: #f68a41;
$redyellow5: #faa050;
$redyellow6: #fdb75f;
$redyellow7: #fecd6f;
$redyellow8: #ffe37e;
